
*{box-sizing: border-box;}
body{font:12px/1.5 "microsoft yahei",Arial, sans-serif;color:#697B8C;background-color:#f6f6f6;margin:0;padding:0;/*overflow-x: hidden;*/}
a{color:#697B8C;text-decoration:none;}
a:active,a:focus {text-decoration:none;color:#3366CC;}
a:hover{text-decoration:none;color:#3366CC;}
a:active,a:focus,input,select,textarea {outline:none;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{line-height:1;color:#444645;font-family:"microsoft YaHei";font-weight: normal;}
ul,ol {list-style-type:none}
li{*vertical-align:top;}
div,a,p,b,em,i,strong,span,img,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0;padding:0;}
img{border:none;vertical-align:top;}
s,i,em{font-style: normal;text-decoration: none;}
input,select,textarea{outline: none;font-family:"microsoft YaHei" !important;}

.fl{float:left;text-align: left;}
.fr{float:right;}
.clearfix {zoom:1;clear:both;}
.clearfix:after {content:".";display:block;height:0;visibility:hidden;clear:both;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary{display:block; }

.height_100 {
	height: 100%;
	overflow: hidden;
}
/*间距设置*/
.mb_0 {
    margin-bottom: 0 !important;
}
/*主色调*/
.bg_c {
	background-color: #36C8E6 !important;  /*主背景颜色*/
}
.fz_c {
	color: #3366CC; /*字体颜色*/
}
.fc_999 {
	color: #999;
}
/*多选框覆盖*/
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
	background-color: #fff;
    border-color: #3366cc !important;
}

#mian{
	margin-left: 220px;
}



/*弹出框*/
.v-modal{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
    z-index: 1999;
}
.m_seniorscreen{
	z-index: 2000;
	position: fixed;
	width: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    transform: translateY(-60%);
    text-align: center;
}
.m_seniorscreen .el-message-box__headerbtn {
	top: 25px;
	right: 20px;
	font-size: 20px;
}
.m_seniorscreen .el-message-box{
	width: 600px;
	border-radius: 0;
}

.m_seniorscreen .resize-triggers{
	z-index: 9999 !important;
}

.m_seniorscreen .el-message-box__title {
	color: #666;
	font-weight: 600;
	border-bottom: 1px solid #eee;
	line-height: 24px;
	padding-bottom: 15px;
}
.m_seniorscreen .el-message-box__header {
	padding: 23px 20px 0;
}
.m_seniorscreen .el-message-box__content {
	padding: 20px 20px 30px;
}
.el-message-box__wrapper.m_seniorscreen:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
.m_seniorscreen .el-message-box__btns{
	text-align: center;
	margin-bottom: 10px;
}
.m_seniorscreen .el-input{
	padding-left: 86px;
	display: block;
}
.m_seniorscreen .el-select {
	margin-left: 86px;
	display: block;
}
.m_seniorscreen .el-select .el-input {
	padding-left: 0;
}
.m_seniorscreen .el-input__inner {
	color: #222;
}
.v-form {
	margin-bottom: 10px;
}
.v-form label {
	float: left;
	font-size: 14px;
	color: #222;
	line-height: 40px;
}
.v-form label s {
	color: #f51919;
}
.el-select-dropdown {

}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
    width: 7px;
    height: 7px;
    background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #fff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.1);
    background-color: #f6f6f6;
}

/*盒子模型样式*/
.box {
    background: #fff;
    box-shadow: 0 1px 2px rgba(165,167,168,.3);
    margin-bottom: 20px;
}
.box .box-title {
    line-height: 40px;
    height: 40px;
    margin: 0 20px;
    border-bottom: 1px solid #EFEFEF;
}
.box .box-title h2 {
    float: left;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
.box .box-content {
    padding: 0 20px 15px;
    zoom: 1;
    clear: both;
}
.box .box-content:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
.box .box-content.no-padding {
    padding: 0;
}
.box .title-more {
    float: right;
    font-size: 14px;
    color: #666;
}
.message-center {
    position: fixed;
    top: 45%;
}
[v-cloak] {
    display: none;
}


/*页面标题样式*/
.page-header {
    font-size: 14px;
    height: 65px;
    background-color: #fff;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid #EFEFEF;
    padding: 10px 20px 14px;
}
.page-header .page-title {
    float: left;
    font-size: 24px;
    line-height: 50px;
    color: #000;
}
.page-header .breadcrumb {
    margin-left: 20px;
    float: left;
}
.page-header .breadcrumb span {
    padding: 0 5px;
}
.page-header .z-pop_question {
    float: left;
    margin-left: 5px;
}

    /*面包屑样式*/
/*.breadcrumb {
    float: left;
    font-size: 14px;
    margin-top: -10px;
    line-height: 30px;
    padding-bottom: 10px;
}
*/

/*文本超出显示...样式*/
.over-omitted {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*列表页tooltip提示样式*/
.el-tooltip__popper.is-dark {
    padding: 5px;
    border: 1px solid #cdcdcd;
    background: #fff;
    box-shadow: 2px 2px 7px rgba(51,102,204,0.5);
    min-height: 30px;
    max-width: 450px;
    color: #666;
    margin-top: 4px;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
    overflow: hidden;
    font-size: 13px;
    line-height: 24px;
}
.table-tooltip.is-dark .popper__arrow {
    display: none;
}

/*上传图片组件样式*/
.upload-image-box {
    position: relative;
    width: 150px;
    height: 150px;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.upload-image-box .upload-button {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    color: #c0c4cc;
    margin-top: -45px;
    line-height: 30px;
    text-align: center;
}
.upload-image-box .el-icon-upload {
    display: block;
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto;
}
.upload-image-box .upload-image {
    position: relative;
}
.upload-image-box .upload-image, .upload-image-box .upload-image img {
    width: 100%;
    height: 100%;
}
.upload-image-box .upload-image .upload-operate {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    height: 30px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background: rgba(0, 0, 0, 0.498039);
}
.el-upload .el-button {
    box-shadow: rgb(241, 241, 241) 1px 1px 1px;
}