@charset "utf-8";

/*左侧*/
.leftBar {
	z-index: 20;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    min-height: 470px;
	width: 100px;
	background: #1D2840;
}
.logo {
	width: 100px;
	height: 50px;
}
.logo img {
	width: 100%;
	height: 100%;
}
.aside-wrap .navi-item{
	position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
}
.aside-wrap .navi-item > a {
	position: relative;
    display: block;
    font-weight: 400;
    font-size: 14px;
	color: #CFD6E6;
	border-left: 3px solid #1D2840;
	padding-left: 46px;
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    transition: background-color .2s ease-in-out 0s;
}
.aside-wrap .navi-item.active > a {
	color: #fff;
}
.aside-wrap .navi-item > a i {
	position: absolute;
	top: 50%;
	left: 19px;
	width: 16px;
	height: 16px;
	transform: translateY(-50%);
	color: #CFD6E6;
}
.aside-wrap .navi-item > a i img {
	max-width: 100%;
	vertical-align: top;
}
.aside-wrap .navi-item.active> a {
	background-color: #111826;
	border-left-color: #3366CC;
}
.aside-wrap .navi-item.active> a::before {
	content: '';
	position: absolute;
	top: 11px;
	right: -8px;
	width: 0;
	height: 0;
	border: 18px solid #283859;
	border-top-width: 14px;
	border-bottom-width: 14px;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
	
}
.aside-wrap .navi-item.active .secend-item  {
	display: block;
}
.bottom-menu {
	position: absolute;
	bottom: 20px;
	left: 0;
}
.bottom-item {
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.bottom-item.active {
	background: #111826;
}
.bottom-item.active .secend-item {
	display: block;
}
.bottom-item.active::before {
	content: '';
	position: absolute;
	top: 12px;
	right: 0px;
	width: 0;
	height: 0;
	border: 10px solid #283859;
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.noarrow.bottom-item.active::before {
	display: none;
}
.bottom-item> i{
	color: #CFD6E6;
	font-size: 22px;
	line-height: 45px;
}
.bottom-item> i.z-ying img {
	vertical-align: middle;
}
.secend-item {
	position: absolute;
	top: 0;
	left: 100px;
	width: 300px;
	padding: 7px 0;
	background-color: #283859;
	display: none;
}
.secend-item .pop-item {
	float: left;
	overflow: hidden;
	zoom: 1;
}
.secend-item .pop-item-child {
	float: none;
	clear: both;
	padding-top: 7px;
}
.secend-item .pop-item-child:first-of-type {
	padding-top: 0;
}
.secend-item .pop-item-child:first-of-type h4 {
	border: none;
	padding-top: 3px;
}

.secend-item .pop-item > a {
	float: left;
	width: 100px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	padding-left: 10px;
	color: #fff;
	overflow: hidden;
	text-align: left;
}
.secend-item .pop-item h4 {
	font-size: 12px;
	color: #5A6A8C;
	line-height: 26px;
	margin: 0 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(30,41,66,1);
	text-align: left;
}
.secend-item .pop-item > a:hover {
	color: #A0BDFF;
}
.kefu .secend-item {
	width: 200px;
	background:rgba(255,255,255,1);
	box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.1) 
}
.kefu .secend-item li {
	padding: 15px;
}
.kefu .secend-item li h2 {
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #999;
}
.kefu .secend-item li p{
	font-size: 18px;
	line-height: 25px;
	color: #999;
	padding-top: 23px;
	margin-bottom: 10px;
	text-align: left;
}
.kefu .secend-item li button {
	width: 100%;
	border: none;
	background-color: #3366CC;
	text-align: center;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	padding: 10px 0; 
	border-radius: 4px;
	vertical-align: top;
	cursor: pointer;
}
.kefu .secend-item li a {
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	color: #3366CC;
	display: block;
}

/*头部*/
.topBar {
	z-index: 12;
    position: fixed;
    left: 100px;
    right: 0;
    top: 0;
    height: 50px;
    min-width: 1100px;
   background: #FFFFFF;
   box-shadow: 0 2px 2px 0 rgba(165,167,168,0.30);
}
.nav-tab > ul > li {
	float: left;
	width: 100px;
	height: 50px;
	line-height: 46px;
	text-align: center;
	position: relative;
	border-top: 2px solid transparent;
	border-right: 1px solid #efefef;
	padding: 0 5px;
	font-size: 14px;
	color: #666;
	cursor: pointer;
}
.nav-tab > ul > li > a {
	font-size: 14px;
	color: #666;
}
.nav-tab > ul > li > i {
	position: absolute;
	top: 5px;
	right: 3px;
	font-size: 14px;
	cursor: pointer;
	display: none;
}
.nav-tab > ul > li:hover {
	background-color: #f7f7f7;
}
.nav-tab > ul > li.active {
	background-color: #f9f9f9;
	border-top: 2px solid #3366CC;
}
.nav-tab > ul > li:hover > i {
	display: block;
}
.nav-tab > ul > li > i.el-icon-arrow-down {
	display: block;
	top: 19px;
}
.nav-tab > ul > li.dropdown_box #menu_name {
	display: block;
}
.nav-tab > ul > li .menu_dropdown {
	position: absolute;
	left: 0;
	top: 100%;
	/*margin-top: 6px;*/
	z-index: 999;
	min-width: 100%;
	background: #fff;
	border: 1px solid #ebeef5;
	border-radius: 4px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	display: none;
}
/*.nav-tab > ul > li .menu_dropdown:before {
	content: "";
	position: absolute;
	left: 50%;
	top: -12px;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	border-bottom: 6px solid #fff;
}*/
.nav-tab > ul > li .menu_dropdown li {
	position: relative;
	line-height: 22px;
	padding: 9px 22px 9px 14px;
	font-size: 14px;
	color: #666;
	cursor: pointer;
	text-align: left;
	border-left: 2px solid transparent;
	white-space: nowrap;
}
.nav-tab > ul > li .menu_dropdown li:hover {
	background: #f7f7f7;
}
.nav-tab > ul > li .menu_dropdown li.active {
	background-color: #f9f9f9;
	border-left: 2px solid #3366CC;
}
.nav-tab > ul > li .menu_dropdown li i {
	position: absolute;
	top: 14px;
	right: 3px;
	font-size: 14px;
	cursor: pointer;
}
.nav-tab li.dropdown_box:hover .menu_dropdown {
	display: block;
}
.wrap-header-right-menu {
	position: absolute;
	top: 0;
	right: 20px;
}
.wrap-header-right-menu > a {
	line-height: 50px;
	font-size: 24px;
	padding: 0 14px;
	color: #222;
}
.wrap-header-right-menu > a img {
	vertical-align: middle;
	position: relative;
	top: -2px;
}
.wrap-header-right-menu > a.z-wo {
	width: 35px;
	padding-right: 0;
}
.wrap-header-right-menu > a.z-wo > span {
	font-size: 14px;
	margin-left: 10px;
	display: inline-block;
	width: 45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
}
.z-pop-top li:hover {
	background-color: #f7f7f7;
}
.z-pop-top li > a{
	padding: 0 15px;
	font-size: 14px;
	color: #999;
	line-height: 40px;
}

/*主体*/
#main_iframe {
	height: 100%;
}
#main_iframe .tab-pane {
	height: 100%;
	display: none;
}
#main_iframe .tab-pane.active {
	display: block;
}
.main-content {
	min-width: 1100px;
	margin: 70px 20px 20px 120px;
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(165,167,168,0.30);
}
.main-content-body {
	padding: 20px;
}
.z-tabs_header {
	width: 100%;
	border-bottom: 1px solid #EFEFEF;
	overflow: hidden;
	zoom: 1;
	position: relative;
}
.z-tabs_item {
	float: left;
	padding: 10px 0;
	font-size: 14px;
	color: #666;
	cursor: pointer;
	position: relative;
}
.z-tabs_item .z-pop_question{
	position: absolute;
	top: 10px;
	right: 8px;
	width: 18px;
	height: 18px;
	font-size: 14px;
	color: #ddd;
	display: none;
}
.z-tabs .z-tabs_item.router-link-active .z-pop_question,
.z-tabs_item.is_active .z-pop_question{
	display: block;
}
.z-tabs_item .item_span {
	display: inline-block;
	width: 120px;
	text-align: center;
	border-right: 1px solid #EFEFEF;
}
.item_span:hover {
	color: #3366CC;
}
.z-tabs_item.is_active {
	position: relative;
	border-bottom: 1px solid #3366CC;
	z-index: 2;
}
.z-tabs_item.is_active span {
	color: #3366CC;
}

.z-jiao {
	padding: 10px 20px;
	line-height: 18px;
	font-size: 12px;
	color: #999;
}
.z-jiao a {
	color: #3366CC;
	display: block;
}
.content_item {
	padding: 12px 20px 15px;
	display: none;
}
.content_item.active {
	display: block;
}

.z-tables {
	margin-top: 12px;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}
.list-content {
	padding: 5px 20px 15px;
}

/*分页*/
.grid-content {
	height: 30px;
	margin: 15px 0 0;
}
.bg-purple-left {
	float: left;
}
.bg-purple-left .el-checkbox {
	margin: 0 15px;
}
.bg-purple-left .el-dropdown {
	width: 110px;
	box-shadow: 0px 1px 2px 0px rgba(172,173,173,0.3);
	margin-right: 15px;
}
.bg-purple-light {
	float: right;
	border: 1px solid #E1E4E6;
	border-radius: 4px;
}

/*编辑权限页面*/
.edit,.modify {
	background-color: #f6f6f6;
}
.edit-warp {
	background-color: #fff;
	/*margin-top: 8px;*/
	padding: 20px;
	box-shadow: 0 1px 2px 0 rgba(165,167,168,0.30);
}
.edit-input {
	padding-bottom: 20px;
	border-bottom: 1px solid #EFEFEF;
}
.edit-input label {
	font-size: 16px;
	color: #666;
	margin-right: 16px;
}
.edit-content {
	border-bottom: 1px solid #EFEFEF;
}
.edit-content h2 {
	font-size: 16px;
	color: #666;
	padding: 20px 0;
	font-weight: 600;
}
/*权限编辑页面*/
.edit-itemes {
	padding: 15px 0;
	border-top: 1px solid #EFEFEF;
	overflow: hidden;
}
.edit-itemes .el-checkbox {
	padding: 5px 0;
	line-height: 20px;
}
.edit-itemes .el-checkbox .el-checkbox__label {
	font-size: 13px;
}
.auth-form-item .el-form-item__label {
	padding-top: 16px;
}
.edit-limit {
	float: left;
	width: 140px;
}
.edit-limit-2-3 {
	float: left;
	width: 280px;
}
.edit-limit-2 {
	float: left;
	width: 140px;
}
.edit-limit-info {
	margin-left: 140px;
}
.edit-limit-info.ml_280 {
	margin-left: 280px;
}
.edit-itemes:last-of-type .edit-limit-info {
	border-bottom: none;
	margin-bottom: 0px;
}
.edit-button {
	margin: 30px 0;
}


/*登录*/

 .m-login input::-webkit-input-placeholder{
        color:#CCCCCC;
    }
   .m-login input::-moz-placeholder{   
        color:#CCCCCC;
    }
   .m-login input:-moz-placeholder{   
        color:#CCCCCC;
    }
    .m-login input:-ms-input-placeholder{ 
        color:#CCCCCC;
    }
.m-login{
		position: absolute;
		top:0px;
		bottom: 0;
		width: 100%;
		background:linear-gradient(135deg,rgba(97,145,242,1),rgba(51,102,204,1));
	}
	.m-width{
		width: 1010px;
		height: 400px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -200px 0 0 -505px;
	}
	
	.m-width .fl{
		margin-top: 36px;
		width: 400px;
		height: 328px;
	}
	.m-width .fl img{
		max-width: 100%;
	}
	.login-form{
		padding: 45px 50px;
		float: right;
		width: 500px;
		height: 400px;
		background: #fff;
		border-radius:4px ;
	}
	
	.form-item{
		overflow: hidden;
		zoom: 1;
		margin-bottom: 20px;
	}
	.form_input{
		float: left;
		width: 320px;
	}
	.login-form .form_input .form_control{
		width: 100%;
		height: 50px;
		font-size: 18px;
		padding: 0 12px;
	
		border: 1px solid #ccc;
	}
	.form_label{
		width: 80px;
		float: left;
		line-height: 50px;
		font-size: 18px;
		color: #222;
		text-align: left;
	}
	
	.login-form .m-yzm .form_control{
		width: 220px;
		float: left;
		
	}
	.login-form .m-yzm a{
		margin: 8px 0 0;
		float: right;
		width: 86px;
		overflow: hidden;
	}
	.login-form .m-yzm a img{
		max-width: 100%;
		vertical-align: middle;
	}
	.m-prompt{
		line-height: 20px;
		height: 20px;
		font-size: 14px;
		color: #ff6666;
    }
	.m-prompt s{
		display: inline-block;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin:0 10px 3px 0px;
		background: url(../img/remind.png) no-repeat;
		
	}
	.login-form .user .form_input{
		position: relative;
	}
	.login-form .user .form_input .form_control{
		padding-right: 15%;
	}
	.login-form .user .form_input s{
		cursor: pointer; 
		position: absolute;
		right: 20px;
		width: 16px;
		height: 16px;
		top: 17px;
		background: url(../img/clear.png) no-repeat;
	}
	
	.m-remind{
		overflow: hidden;
		zoom: 1;
	}
	.m-remind .m-prompt{
		float: left;
	}
	.m-remind a{
		color: #666;
		font-size: 14px;
		float: right;
	}
	.login-form .m-btn{
		margin-top: 30px;
	}
	.login-form .m-btn a{
		display: block;
		width: 100%;
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		color: #fff;
		text-align: center;
		background:linear-gradient(135deg,rgba(51,102,204,1),rgba(95,80,230,1));
		box-shadow: 0px 4px 16px 0px rgba(51,102,204,0.4);
		border-radius: 4px ; 
	}

/*实名上传*/
.realname {
	padding: 15px 20px;
}
.real-title {
	height: 24px;
	line-height: 24px;
	color: #666;
	font-size: 14px;
	margin-bottom: 15px;
}
.real-title span {
	font-weight: 600;
}
.real-title .no-upload {
	color: #F5655C;
	margin-left: 10px;
}
.real-title .no-upload i {
	margin-right: 6px;
}
.z-pop_p {
	line-height: 26px;
	color: #999;
}

/*上传样式*/
.upload-content {
	border-bottom: 1px solid #DCDCDC;
}

.avatar-uploader .el-upload {
    border: 1px dashed #3366cc;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader-icon {
    color: #3366CC;
    width: 248px;
    height: 248px;
    line-height: 40px;
    text-align: center;
    padding-top: 87px;
  }
  .avatar {
    width: 248px;
    height: 248px;
    display: block;
  }
.upload-content .avatar-uploader-icon p {
	font-size: 14px;
	margin-top: 18px;
}  
.up-license {
	margin-right: 40px;
}  
.id-cart {
	margin-right: 20px;
}
.z-tip .tipicon {
	font-size: 20px;
	color: #ddd;
	margin-top: 118px;
}
.up-popoer {
	padding: 10px 20px 20px;
	color: #999;
}
.up-ipt input{
	margin: 10px 0 20px;
	width: 100%;
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 14px;
	line-height: 24px;
	border-radius: 2px;
}
.bottom-butn {
	margin-top: 30px;
	margin-bottom: 5px;
}
.z-tabs .z-tabs_item.router-link-active {
	position: relative;
    border-bottom: 1px solid #3366CC;
    z-index: 2;
    color: #3366CC;
}

/*品牌设置*/
.setband-content {
	padding-bottom: 30px;
	border-bottom: 1px solid #DCDCDC;
}
.setband {
	padding: 20px;
}
.form-grom {
	margin-bottom: 10px;
	position: relative;
}
.form-grom .band-ipt {
	width: 620px;
	padding-left: 120px;
	color: #222;
}
.bandlabel {
	float: left;
	width: 100px;
	font-size: 14px;
	color: #666;
	text-align: right;
	line-height: 40px;
}
.form-grom .band-ipt .el-input__inner {
	color: #222;
}
.myipt {
	    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #222;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
    font-size: 14px;
}
.visits {
	position: absolute;
	top: 0;
	left: 640px;
	width: 160px;
	height: 40px;
	line-height: 40px;
	color: #3366CC;
	font-size: 14px;
	text-align: center;
	background:rgba(255,255,255,1);
	border: 1px solid #DCDCDC;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1); 
	border-radius: 2px ; 
}
.logoup {
	margin-top: 20px;
}
.logoup .avatar-uploader .el-upload {
	width: 100%;
	border: none;
}
.logoup .avatar-uploader-icon {
	display: inline-block;
	width: 100%;
	height: 118px;
	padding-top: 0;
	background: #F7F9FA;
	border: 1px dashed #DDDDDD;
	font-size: 60px;
	color: #DDDDDD;
	line-height: 118px;
}
.logoup-tip.z-tip .tipicon{
	position: absolute;
	top: 50%;
	margin-top: -10px;
	left: 640px;
}
.templ-border .el-input__inner{
	border-left: none;
	border-right: none; 
}
/*公司资料*/
.company {
	padding: 20px;
}
.company-content {
	padding-bottom: 20px;
}
.company-content h3 {
	width: 100px;
	text-align: right;
	font-size: 16px;
	line-height: 20px;
	color: #666;
	font-weight: 600;
	margin-bottom: 10px;
}
.company-content .el-select {
	width: 100%;
}
.form-grom textarea {
	height: 98px;
	resize: none;
}
.company-content .realTip {
	position: absolute;
	top: 8px;
	left: 640px;
	line-height: 24px;
	color: #ff6600;
	font-size: 14px;
}
.company-content .realTip i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../img/remind.png) no-repeat;
	margin-right: 6px;
	vertical-align: middle;
}


/*首页页面样式*/
.indexbox .el-col-15 {
	width: 62%;
}
.indexbox .el-col-9 {
	width: 38%;
}
.timeout {
	float: right;
	line-height: 30px;
	background: #F5F8FF;
	padding-left: 13px;
	font-size: 14px;
	color: #3366CC;
	white-space: nowrap;
	margin-top: -10px;
}
.timeout .el-button {
	margin-left: 15px;
	border-radius: 0;
	padding: 7px 12px;
	min-width: auto;
}
.ix-pengdlist1 li {
	float: left;
	width: 25%;
	height: 100px;
	text-align: center;
	font-size: 14px;
	color: #999;
}
.ix-pengdlist1 li strong {
	display: block;
	font-size: 38px;
	font-weight: normal;
	color: #666;
	line-height: 50px;
	padding-top: 15px;
}
.ix-pengdlist2 li {
	position: relative;
	float: left;
	width: 50%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #999;
	background: #FCFCFD;
}
.ix-pengdlist2 li:first-child:before {
	content: "";
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 10px;
	width: 1px;
	background-color: #EFEFEF; 
}
.ix-pengdlist2 li strong {
	font-size: 18px;
	font-weight: normal;
	margin-left: 13px;
}
.ix-pengdlist1 li a,.ix-pengdlist2 li a {
	display: block;
	color: #999;
}
.ix-pengdlist1 li:hover strong,.ix-pengdlist2 li:hover strong {
	color: #3366CC;
}
.in-companyleft {
	float: left;
	width: 60%;
}
.cominfo-list {
	font-size: 14px;
	line-height: 24px;
	color: #222;
	padding-top: 7px;
	padding-bottom: 12px;
}
.cominfo-list .title {
	color: #999;
}
.in-companyleft .el-button {
	padding: 7px 12px;
	border-radius: 2px;
	min-width: auto;
}
.in-companyleft .el-button--default {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
.in-companyright {
	float: right;
	width: 40%;
}
.in-companyright a {
	display: block;
	margin: 10px 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #666;
	text-align: center;
	background: #FBFBFD;
	transition: background .3s;
}
.in-companyright a s {
	display: inline-block;
	vertical-align: middle;
	margin: 0 18px 0 0;
	width: 24px;
	height: 24px;
	background: url(../img/cuputer.png) no-repeat center;
}
.in-companyright a s.phone {
	background-image: url(../img/phone.png);
}
.in-companyright a:hover {
	background: #f1f1f1;
}
.in-momchart li {
	position: relative;
	float: left;
	width: 25%;
	height: 220px;
	text-align: center;
	font-size: 14px;
	color: #999;
}
.in-momchart li .length {
	display: block;
	margin: 25px auto 17px;
	width: 100px;
	height: 100px;
	line-height: 76px;
	font-size: 24px;
	color: #3366CC;
	font-weight: normal;
	border: 12px solid #EEEEEE;
	border-radius: 50%;
	transition: box-shadow .3s;
}
.in-momchart li .length.green {
	color: #33CC7E;
}
.in-momchart li .length.purple {
	color: #CC33BD;
}
.in-momchart li .y_price {
	font-size: 24px;
	color: #666;
	line-height: 33px;
	margin-bottom: 7px;
}
.in-momchart li:nth-child(2):after {
	content: "";
	position: absolute;
	right: 0;
	top: 50px;
	bottom: 50px;
	width: 1px;
	background-color: #EEEEEE;
}
.in-momchart li:hover .length {
	box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.in-noticelist {
	margin-top: 10px;
	height: 194px;
	font-size: 14px;
	color: #999;
	line-height: 24px;
}
.in-noticelist li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 4px;
}
.in-noticelist li:before {
	content: "";
	position: absolute;
	left: 6px;
	top: 10px;
	width: 4px;
	height: 4px;
	background-color: #222;
	border-radius: 50%;
}
.in-noticelist li h3 {
	font-size: 13px;
	line-height: 24px;
	height: 24px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.in-noticelist li h3 a {
	color: #222;
}
.in-noticelist li h3 a:hover {
	color: #36c;
}
.in-noticelist li p {
	font-size: 12px;
	line-height: 20px;
}
.in-clientview {
	padding: 7px 6px;
	overflow: hidden;
}
.in-clientview dt {
	float: left;
	width: 85px;
	height: 85px;
}
.in-clientview dt img {
	width: 100%;
	height: 100%;
}
.in-clientview dd {
	float: left;
	padding: 9px 0 0 7px;
	font-size: 13px;
	line-height: 30px;
	color: #999;
}
@media screen and (max-width: 1280px) {
	.in-clientview dd {
		font-size: 12px;
	}
}
.in-clientview dd p {
	color: #222;
}
.in-formgroup {
	padding-right: 125px;
	padding-top: 20px;
	font-size: 14px;
	color: #222;
}
.in-formgroup .form-group {
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 47px 0 67px;
}
.in-formgroup .y_tit {
	float: left;
	width: 60px;
	line-height: 40px;
	margin-left: -100%;
	position: relative;
	left: -67px;
}
.in-formgroup .el-input__inner {
	float: left;
	width: 100%;
	border-radius: 0;
}
.in-formgroup .el-button {
	float: left;
	min-width: 40px;
	padding: 5px 7px;
	color: #222;
	margin-top: 8px;
	margin-left: -40px;
	position: relative;
	right: -47px;
}
.in-qrcodeshare {
	float: right;
	padding-top: 9px;
	padding-bottom: 8px;
	font-size: 14px;
	color: #222;
	line-height: 40px;
	text-align: center;
}
.in-qrcodeshare img {
	display: block;
	width: 88px;
	height: 88px;
	margin: 0 auto;
}
.minW40 .el-input-group__append button{
	min-width: 30px;
}

.z-option a, .z-option span {
	color: #3366CC;
}

.z-option span {
	padding: 0 4px;
}
.optionline {
	padding: 0 4px;
}

.z-creater {
	display: inline-block;
	height: 22px;
	line-height: 20px;
	font-size: 14px;
	color: #3366CC;
	padding: 0 10px;
	border: 1px solid #3366CC;
	border-radius: 11px;
	margin-left: 6px;
}

/*部门管理*/

/*拖拽样式*/
.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }
.dd { position: relative; display: block; margin: 0; padding: 0; width: 100%; list-style: none; font-size: 14px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 40px; }
.dd-handle { display: block; height: 42px; line-height: 40px; margin-bottom: 8px; padding: 0 20px; color: #222; text-decoration: none; font-weight:normal; border: 1px solid #ddd;
    background: #fff;
    -webkit-border-radius: 4px;
   border-radius: 4px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover,
.dd-handle.active { background: #E1E8F5; cursor: move;}
.dd-handle::before {content: '';position: absolute;width: 8px;height: 8px;top: 15px;left: -21px;border-radius: 4px;font-size: 14px;
    text-align: center;
    line-height: 10px;
    background-color: #fff;
    padding: 0;
    color: #666;
    border: 1px solid #D7DADB;
    z-index: 90;
}
.dd_option {display: none;position: absolute;top: 0;right: 20px;}
.dd-item:hover > .dd_option {display: block;}
.dd_option > button {color: #3366CC;border: none;background-color: transparent;outline: transparent;cursor: pointer;}
.dd_option span {color: #3366CC;}
.drag_tree {padding-left: 25px;border: 0; border-top: 1px solid #eee;border-bottom: 1px solid #eee;margin-top: 12px;}
.dd-item > .dragbtn { position: absolute; color: #666; left:-24px; top: 14px; width: 14px; height: 14px; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 1px solid #D7DADB; background: #FFF; line-height: 10px; text-align: center; font-weight: normal; z-index: 99;}
.dd-item > .dragbtn:before { display: block; content: '+'; position: absolute; width: 100%; font-size: 14px; text-align: center; text-indent: 0; }
.dd-item > .dragbtn[data-action="collapse"]:before { content: '-'; font-size: 14px; }
.dd-placeholder,
.dd-empty { margin-bottom: 10px; padding: 0; min-height: 30px; background: #FCFAFC; border: 1px dashed #DDDDDD; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {-webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);}
.nestable-lists { display: block; clear: both; padding: 20px 0; width: 100%;}
.dd-item.on::before {content: '';position: absolute;top: 45px;bottom: -15px;left: -17px;width: 1px;border-left: 1px solid #ddd;}
.dd-list .dd-item.on:last-of-type::before {display: none;}
.department {
	margin-top: 2px;
	padding-left: 12px;
}
.department h2 {
	float: left;
	font-size: 20px;
	color: #222;
	line-height: 24px;
}
.department a {
	float: left;
	font-size: 14px;
	line-height: 24px;
	color: #3366CC;
	padding: 0 5px;
	border: 1px solid #eee;
	border-radius: 2px;
	margin-left: 12px;
}
.department a span {
	font-family: simsun;
	font-weight: 600;
	font-size: 12px;
	vertical-align: top;
}

.departes {
	padding-top: 13px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	min-height: 350px;
}
.departes a,
.departes span {
	display: inline-block;
	height: 40px;
	line-height: 38px;
	font-size: 18px;
	color: #222;
	padding: 0 30px;
	margin-bottom: 20px;
	border: 1px solid #eee;
	border-radius: 2px;
	margin-right: 16px;
	vertical-align: middle;
}
.departes a.active{
	border-color: #3366CC;
}
.departes a:hover {
	border-color: #3366CC;
}

.departes span {
	color: #999;
	border: none;
	border-bottom: 1px solid #eee;
	padding: 0 5px;
	line-height: 40px;
}
.departes span input {
	border: none;
    font-size: 18px;
    width: 120px;
    line-height: 39px;
    height: 39px;
    vertical-align: top;
}
.departes span i {
	color: #666;
	margin-left: 16px;
	font-size: 30px;
	font-weight: 300;
	cursor: pointer;
}

/*登录日志*/
.data-picker {
	float: left;
	margin-top: 7px;
	margin-right: 10px;
	vertical-align: middle;
	position: relative;
}
.data-picker .el-date-editor{
	float: left;
}
.data-picker .el-date-editor:first-of-type input{
	border-radius: 2px 0 0 2px;
}
.data-picker .el-date-editor:last-of-type input{
	border-left: none;
	padding-left: 40px;
	border-radius: 0 2px 2px 0;
}
.data-picker .el-date-editor:last-of-type .el-icon-date {
	padding-left: 14px;
}
.data-picker .center-line {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 22px;
	height: 1px;
	background-color: #aaa;
	margin-left: -12px;
	z-index: 999;
}
.data-picker .center-line::before,
.data-picker .center-line::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #aaa;
	top: -2px;
	left: -3px;
}
.data-picker .center-line::after {
	left: auto;
	right: -3px;	
}

/*员工资料修改*/
.ipt_p {
	line-height: 40px;
	font-size: 14px;
}
.bandlabel s {
	color: #ff6600;
}
.bandlabel i {
	color: #ccc;
	margin-right: 5px;
	visibility: hidden;
}
.has-pop {
	z-index: 9;
}
.has-pop:hover.bandlabel i {
	visibility: visible;
}
.z_rodio {
	height: 40px;
	line-height: 40px;
}
.z-customerArea {
	font-size: 14px;
	margin-left: 15px;
	margin-right: 15px;
	visibility: hidden;
	color: #3366CC;
}
.z-customerArea.show {
	visibility: visible;
}
.form-grom .band-ipt.z-form-checkbox {
	width: 800px;
	padding-top: 9px;
}
.z-form-checkbox .el-checkbox__inner {
	width: 16px;
	height: 16px;
}
.z-form-checkbox .el-checkbox__inner::after {
	left: 6px;
	top: 2px;
}
.z-box-info {
	margin-top: 10px;
}
.z-box-info p {
	font-size: 14px;
	color: #999;
	line-height: 30px;
}
.z-box-info p a {
	color: #3366CC;
}
.z-yuan-item {
	padding: 8px 0;
	border-top: 1px solid #eee;
	color: #606266;
	overflow: hidden;
}
.z-yuan-item .el-icon-check {
	color: #3366CC;
	margin-right: 5px;
	font-weight: 600;
	visibility: hidden;
}
.z-yuan-item .el-icon-check.on {
	visibility: visible;
}
.form-grom .band-ipt.z-power-list {
	width: 100%;
}
.z-yuan-tit {
	float: left;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.z-yuan-item .z-yuan-content {
	padding-left: 150px;
}
.z-yuan-item .z-yuan-content2 {
	padding-left: 270px;
}
.z-yuan-item ol {
	overflow: hidden;
	zoom: 1;
}
.z-yuan-item ol li {
	float: left;
	width: 200px;
	font-size: 14px;
	line-height: 40px;
}
.mtop8 {
	margin-top: 8px;
}
.authinfo-item .el-form-item__label {
	margin-top: 13px;
}
.m_seniorscreen .el-checkbox-group {
	min-height: 40px;
	margin-left: 10px;
}

/*商品多规格模态框选择*/
.format_table {
	padding: 0 23px;
	max-height: 300px;
	overflow: auto;
}
.format_table > .el-button {
	margin-top: 10px;
}

/*商品分类页面级联展示*/
.m-product-select {
	margin-top: 20px;
}
.m-product-select > .u-tt {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.1;
	color: #6A7C8D;
	margin-bottom: 20px; 
}
.m-product-select > .m-ct:after {
    content: "";
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    clear: both; 
}
.m-product-select .m-classify {
    position: relative;
    float: left;
    margin-left: -1px;
    width: 25%;
    border: 1px solid #d8dee4;
}
.m-product-select .m-classify:last-child .u-classify-list.f-active:after {
	display: none; 
}
.m-product-select .u-classify-name {
    line-height: 50px;
    color: #697b8c;
    font-weight: 400;
    font-size: 16px;
    padding-left: 28px;
    padding-right: 28px;
    box-shadow: 0 2px 3px 0 rgba(223, 223, 223, 0.5); 
}
.m-product-select .m-select-ct {
    padding: 0 18px;
    margin: 17px 0;
    height: 186px;
    overflow-x: hidden;
    overflow-y: auto; 
}
.m-product-select .u-classify-list {
    position: relative;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    padding-left: 10px;
    font-size: 14px;
    color: #697b8c;
    letter-spacing: 0; 
}
.m-product-select .u-classify-list + .u-classify-list {
	margin-top: 8px; 
}
.m-product-select .u-classify-list:hover {
	cursor: pointer;
	background: #ECF0F4; 
}
.m-product-select .u-classify-list:hover .y_operate {
	display: block; 
}
.m-product-select .u-classify-list.f-active {
	transition: all .2s ease;
	color: #fff;
	background: #36c;
	position: relative; 
}
.m-product-select .u-classify-list.f-active:hover {
	cursor: initial; 
}
/*.m-product-select .u-classify-list.f-active:after {
	content: "";
	display: block;
	width: 11px;
	height: 24px;
	background: url("../img/aebiz_ui/triangle.png") no-repeat center center;
	position: absolute;
	top: 10px;
	right: -18px;
	z-index: 999; 
}*/
.m-product-select .u-classify-list.f-active .y_operate {
	display: block; 
}
.m-product-select .u-classify-list.f-active .y_operate a {
	cursor: pointer;
}
.m-product-select .u-classify-list.f-active .y_operate i {
	color: #fff; 
}
.m-product-select .u-classify-list .y_name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 54%; 
}
.m-product-select .u-classify-list .y_operate {
	position: absolute;
	right: 0;
	top: 0;
	padding-right: 10px;
	display: none; 
}
.m-product-select .u-classify-list .y_operate i {
	font-size: 16px;
	margin-left: 6px;
	color: #8CA0B3; 
}
.m-product-select .u-classify-list .name-tit2 {
	right: 63px; 
}
.m-product-select .u-classify-list .name-tit2 .icon-error {
	color: #F77676; 
}
.m-product-select .name-tit2 {
	position: absolute;
	top: 0;
	right: 80px;
	width: 60px;
	text-align: center; 
}
.op-select .m-select-ct {
	height: 286px;
	margin-bottom: 50px; 
}

.op-select .list-op-lt {
	font-weight: 400;
	position: absolute;
	bottom: 15px;
	left: 30px;
	font-size: 14px;
	color: #36c;
	cursor: pointer;
	font-style: normal; 
}

.op-select .list-op-rt {
	font-weight: 400;
	position: absolute;
	bottom: 15px;
	right: 30px;
	font-size: 14px;
	color: #36c;
	cursor: pointer;
	font-style: normal; 
}
.m-product-select .el-checkbox,.m-product-select .el-checkbox__input.is-checked+.el-checkbox__label {
	color: inherit;
}
.m-product-select .u-classify-name .el-checkbox__label {
	font-size: 16px;
}
