<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订货宝 让生意更美好！</title>
	<script src="js/vue221.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/element.css">
	<link rel="stylesheet" href="css/global.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/myelement.css" />
	<!-- 引入组件库 -->
	<script src="js/element.js"></script>
</head>
<body>
	<div id="app">
		<div class="main-content">
			<!-- 页面头部 -->
			<div class="page-header">
				<h1 class="page-title">部门管理</h1>
				<div class="z-pop_question">
	  	 			<el-popover
					  ref="popoverb"
					  placement="bottom-start"
					  width="400"
					  trigger="hover">
					  <p class="z-jiao">设置公司部门划分，比如：销售1部 销售2部 仓管部 </br>1、可以拖动某条内容上下移动修改顺序；</br> 2、修改请勿忘保存</p>
					</el-popover>
					<i v-popover:popoverb class="el-icon-question"></i>
	  	 		</div>
				<div class="breadcrumb"><a href="##">首页</a><span>/</span>部门管理</div>
			</div><!-- 页面头部 end -->

			<div class="list-content">
				
				<div class="main_cont" v-show="!showChoice">
					<div class="content_item_header clearfix">
						<div class="department clearfix fl">
							<h2>武汉分公司</h2>
							<a href="javascript:;" @click="changePart">切换 <span>></span></a>
						</div>
	  	 				<div class="filter-btn fr">
	  	 					<el-button type="primary" @click="showDailog">新增部门</el-button>
	  	 				</div>
 					</div>
	 				<div class="drag_tree" >
	 					
					    <div class="cf nestable-lists">
					        <div class="dd" id="nestable">
					            <ol class="dd-list">
					                <li class="dd-item" data-id="2">
					                    <div class="dd-handle">
					                    	<p class="fl">产品部</p>
					                    </div>
					                    <div class="dd_option fr"><button>新建子部门</button> <span>|</span> <button>编辑</button> <span>|</span> <button>删除</button></div>
					                    <ol class="dd-list">
					                        <li class="dd-item" data-id="5">
					                            <div class="dd-handle">
					                            	<p class="fl">开发部</p>
					                            </div>
					                            <div class="dd_option fr"><button>新建子部门</button> <span>|</span> <button>编辑</button> <span>|</span> <button>删除</button></div>
					                            <ol class="dd-list">
					                                <li class="dd-item" data-id="6">
					                                	<div class="dd-handle">
					                                		<p class="fl">开发一部</p>
					                                	</div>
					                                	<div class="dd_option fr"><button>新建子部门</button> <span>|</span> <button>编辑</button> <span>|</span> <button>删除</button></div>
					                                </li>
					                                <li class="dd-item" data-id="7">
					                                	<div class="dd-handle">
					                                		<p class="fl">开发一部</p>
					                                	</div>
					                                	<div class="dd_option fr"><button>新建子部门</button> <span>|</span> <button>编辑</button> <span>|</span> <button>删除</button></div>
					                                </li>
					                                <li class="dd-item" data-id="8">
					                                	<div class="dd-handle">
					                                		<p class="fl">设计制作部</p>
					                                	</div>
					                                	<div class="dd_option fr"><button>新建子部门</button> <span>|</span> <button>编辑</button> <span>|</span> <button>删除</button></div>
					                                </li>
					                            </ol>
					                        </li>
					                        <li class="dd-item" data-id="9"><div class="dd-handle">质检提升部</div></li>
					                    </ol>
					                </li>
					                <li class="dd-item" data-id="11">
					                    <div class="dd-handle">商务部</div>
					                </li>
					            </ol>
					        </div>
					    </div>
					    <input type="hidden" id="nestable-output" />
					</div>
					<div class="bottom-butn">
						<el-button type="primary">保存部门设置</el-button>
						<el-button>取消</el-button>
					</div>
				</div>
				<div class="depart_check" v-show="showChoice">
					<div class="departes">
						<a href="javascript:;" class="active">武汉分公司</a>
						<a href="javascript:;">合肥分公司</a>
						<a href="javascript:;">厦门分公司</a>
						<a href="javascript:;">南京分公司</a>
						<a href="javascript:;">郑州分公司</a>
						<a href="javascript:;">北京分公司</a>
						<a href="javascript:;">雄安分公司</a>
						<a href="javascript:;">深圳分公司</a>
						<span><input type="text" placeholder="新增组织"/> <i> + </i></span>
					</div>
					<div class="bottom-butn">
						 <el-button type="primary">确定</el-button>
						  <el-button @click="hideChoice">取消</el-button>
					</div>
				</div>
					
			</div>
		</div>
		
		<!-- 新增部门模态框 -->
		<el-dialog title="新增客服联系方式" :visible.sync="dialogFormVisible">
			<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
				<el-form-item label="上级部门">
					<el-select v-model="ruleForm.selectValue" placeholder="请选择">
				    	<el-option v-for="item in ruleForm.partOptions" :key="item.label" :label="item.label" :value="item.value"></el-option>
				    </el-select>
				</el-form-item>
				<el-form-item label="部门名称" prop="name">
					<el-input v-model="ruleForm.name"></el-input>
				</el-form-item>
				<el-form-item label="部门编号" prop="phone">
					<el-input v-model="ruleForm.phone"></el-input>
				</el-form-item>
				<el-form-item label="部门图标">
					<div class="upload-image-box" @click="dialogImageVisible = true" style="width:150px;height:150px;">
						<div v-show="uploadImage.imageUrl" class="upload-image">
							<img :src="uploadImage.imageUrl">
							<!-- <span class="upload-operate">点击修改</span> -->
							<span class="upload-operate upload-operate-delect" @click.stop="delectImage('uploadImage')">点击删除</span>
						</div>
						<span v-show="!uploadImage.imageUrl" class="upload-button">
							<i class="el-icon-upload"></i>
							添加图片
						</span>
					</div>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
				<el-button @click="dialogFormVisible = false">取 消</el-button>
			</div>
		</el-dialog>
        <!-- 新增部门模态框 end -->

        <!-- 上传图片模态框 -->
		<el-dialog title="上传文件" :visible.sync="dialogImageVisible">
			<el-upload
			  ref="upload"
			  action="https://jsonplaceholder.typicode.com/posts/"
			  :show-file-list="false"
			  :on-change="handleChange"
			  :file-list="uploadImage.fileList"
			  :auto-upload="false"
			  :before-upload="beforeAvatarUpload">
			  <el-button size="medium">+&nbsp;点击选择图片</el-button>
			  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
			</el-upload>
			<div slot="footer" class="dialog-footer">
				<el-button @click="dialogImageVisible = false">取 消</el-button>
			</div>
		</el-dialog>
        <!-- 上传图片模态框 end -->
	</div>
	
</body>
	
<script src="js/jquery.min.js"></script>
<script src="js/jquery.nestable.js"></script>
<script>
	new Vue({
		el: "#app",
		data: {
	        dialogFormVisible: false,  // 新增模态框是否显示
	        showChoice: false,  // 选择分公司模块是否显示
	        dialogImageVisible: false,  // 上传图片模态框是否显示

	        // 新增部门模态框数据
			ruleForm: {
				selectValue: '',
				name: '',
				phone: '',
				partOptions: [{
		        	value: '选项1',
	          		label: '产品部'
		        },{
		        	value: '选项2',
	          		label: '研发部'
		        }],
		        showimage: false  // 是否显示图片
	        },
	        // form 表单验证规则
	        rules: {
				name: [
					{ required: true, message: '请输入部门名称', trigger: 'blur' },
					{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
				],
				phone: [
					{ required: true, message: '请输入部门编号', trigger: 'blur' }
				]
	        },

	        // 上传图片数据
	        uploadImage: {
	        	imageUrl: '',
	        	fileList: []
	        }
		},
		methods: {
			dislogHide: function () {
				this.dialogFormVisible = false;
			},
			showDailog: function () {
				this.dialogFormVisible = true;
			},
			changePart: function () { //部门切换
				this.showChoice = true;
			},
			hideChoice: function () {
				this.showChoice = false;
			},
			// 提交新增部门表单
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						// 图片手动上传到服务器
						this.$refs.upload.submit();
						alert('submit!');
					} else {
						console.log('error submit!!');
						return false;
					}
				});
			},

			// 图片上传前校验
			beforeAvatarUpload(file) {
				const isJPG = file.type === 'image/jpeg';
				const isLt2M = file.size / 1024 / 1024 < 2;

				if (!isJPG) {
				  this.$message.error('上传头像图片只能是 JPG 格式!');
				}
				if (!isLt2M) {
				  this.$message.error('上传头像图片大小不能超过 2MB!');
				}
				return isJPG && isLt2M;
			},
			// 图片状态变化监听,选择图片后执行的事件
			handleChange(file, fileList) {
				this.uploadImage.fileList = fileList.slice(-1);
				this.uploadImage.imageUrl = URL.createObjectURL(file.raw);
				this.dialogImageVisible = false;
			},
			// 删除图片事件
			delectImage(fileName){
				this[fileName].fileList = [];
				this[fileName].imageUrl = '';
			}
		},
		mounted: function () {
		  	//	拖拽
		 	var updateOutput = function(e){
		        var list   = e.length ? e : $(e.target),
		            output = list.data('output');
		        if (window.JSON) {
		            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
		        } else {
		            output.val('JSON browser support required for this demo.');
		        }
		        $('.dragbtn').parent('li').addClass("on");
		       	$('.dd-item.on').each(function (i,v) {
		       		if($(v).children('a').hasClass('dragbtn')) {
		       		}else {
		       			$(v).removeClass('on');
		       		}
		       	});
		       	//拖拽返回值
		       	console.log($('#nestable-output').val());
		    };
		
		    $('#nestable').nestable({
		        group: 1
		    }).on('change', updateOutput);
		    
		    updateOutput($('#nestable').data('output', $('#nestable-output')));
		    
		    //部门切换
		    $('.departes').on('click', 'a', function (){
		    	$(this).addClass('active').siblings('a').removeClass('active');
		    }); 
		},
		updated: function () {
			
		},
	});
</script>
</html>