<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订货宝 让生意更美好！</title>
	<script src="js/vue221.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/element.css">
	<link rel="stylesheet" href="css/global.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/myelement.css" />
	<!-- 引入组件库 -->
	<script src="js/element.js"></script>
</head>
<body>
	<div id="app">
		<div class="main-content">
			<!-- 页面头部 -->
			<div class="page-header">
				<h1 class="page-title">登录日志</h1>
				<div class="breadcrumb">客户<span>/</span>客户管理</div>
			</div><!-- 页面头部 end -->

			<div class="list-content">
				<!--条件筛选-->
				<div class="content_item_filter clearfix">
	 				<div class="input-select fl btn-radid_none">
	 					<div class="filter-form filter-form-one clearfix">
		 					<el-input placeholder="账号搜索" v-model="input4" class="minW40 z_input-holder" ></el-input>
							<div class="data-picker clearfix">  
								<el-date-picker
								    v-model="bValue"
								    type="date"
								    placeholder="开始日期" class="z_input-holder">
								</el-date-picker>
								<div class="center-line"></div>
								<el-date-picker
								    v-model="eValue"
								    type="date"
								    placeholder="截至日期" class="z_input-holder">
								</el-date-picker>
							</div>  
							<el-select v-model="valueState" clearable placeholder="管理端用户" @change="change" class="z_select-holder">
							    <el-option
							      v-for="(item,index) in optionsState"
							      :key="index"
							      :label="item"
							      :value="item">
							    </el-option>
							</el-select>
		 				</div>
		 				<div class="filter-operate">
							<el-tooltip class="item" content="查询" placement="bottom-start">
						    	<el-button icon="el-icon-search"></el-button>
						    </el-tooltip>
							<el-tooltip class="item" content="清空" placement="bottom-start">
						    	<el-button icon="el-icon-delete"></el-button>
						    </el-tooltip>
					    </div>
	 				</div>
				</div>
				
				<!--主体表格-->
				<div class="z-tables">
	 				<el-table :data="tableData4" style="width: 100%;">
	 					<el-table-column fixed  prop="no" label="" min-width="60" class-name="z-opt_btn"></el-table-column>
	 					
					    <el-table-column fixed prop="timer" label="时间" min-width="140"></el-table-column>
					    
					    <el-table-column prop="login" label="登录账号" min-width="130"></el-table-column>
					    
					    <el-table-column prop="name" label="姓名" min-width="110"></el-table-column> 
					    
					    <el-table-column prop="area" label="地区" min-width="150" class-name="z-opt_btn"> </el-table-column>
					    
					    <el-table-column prop="ip" label="IP" min-width="130" class-name="z-opt_btn"> </el-table-column>
					    
					    <el-table-column prop="devic" label="设备" min-width="140" class-name="z-opt_btn"> </el-table-column>
					    
					</el-table>
	 			</div>
	 			
	 			<!--分页-->
	 			<div class="grid-content">
	 				<div class="bg-purple-light">
					    <el-pagination
					    	@size-change="handleSizeChange"
								 @current-change="handleCurrentChange"
								 :current-page="currentPage4"
					      :page-sizes="[5, 10, 20, 30]"
					      :page-size="5"
					       layout="total, sizes, prev, pager, next"
					      :total="100">
					    </el-pagination>
				  	</div>
				</div>

			</div>
		</div>
	</div>
	
</body>
	
<script src="js/jquery.min.js"></script>

<script>
	new Vue({
		el: "#app",
		data: {
			input4: '',
		    optionsState: ['启用','激活'],
		    valueState: '',
	        currentPage4: 4, //当前页码数
	        bValue: '', //开始、结束日期
	        eValue: '',

	        tableData4: [{
	        	no: 1,
	        	timer: '2018-04-04 09:27',
	        	login: '13437104934',
	        	name: '黄箫蔓',
	        	area: '湖北省武汉市 电信',
	        	ip: '119.96.2.200',
	        	devic: 'Mac OS X'
	        },{
	        	no: 2,
	        	timer: '2018-04-04 09:27',
	        	login: '13437104934',
	        	name: '黄箫蔓',
	        	area: '湖北省武汉市 电信',
	        	ip: '119.96.2.200',
	        	devic: 'Mac OS X'
	        },{
	        	no: 3,
	        	timer: '2018-04-04 09:27',
	        	login: '13437104934',
	        	name: '黄箫蔓',
	        	area: '湖北省武汉市 电信',
	        	ip: '119.96.2.200',
	        	devic: 'Mac OS X'
	        },{
	        	no: 4,
	        	timer: '2018-04-04 09:27',
	        	login: '13437104934',
	        	name: '黄箫蔓',
	        	area: '湖北省武汉市 电信',
	        	ip: '119.96.2.200',
	        	devic: 'Mac OS X'
	        },{
	        	no: 5,
	        	timer: '2018-04-04 09:27',
	        	login: '13437104934',
	        	name: '黄箫蔓',
	        	area: '湖北省武汉市 电信',
	        	ip: '119.96.2.200',
	        	devic: 'Mac OS X'
	        }],
		},
		methods: {
			change: function (ele) {
		  		console.log(this.valueState);
		  	},
		  	
		  	handleSizeChange: function (val) {
	        	console.log("每页"+val+"条");
		    },
		    
		    handleCurrentChange: function (val) {
		        console.log("当前页: "+ val);
		    },
		},
		mounted: function () {

		},
		updated: function () {
			
		},
	});
</script>
</html>