<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订货宝 让生意更美好！</title>
		<script src="js/vue221.js"></script>
		<script src="js/vue-router231.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="css/element.css">
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/myelement.css" />
		<!-- 引入组件库 -->
		<script src="js/element.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="main-content">
				<!-- 页面头部 -->
				<div class="page-header">
					<h1 class="page-title">修改账号</h1>
					<div class="breadcrumb"><a href="##">首页</a><span>/</span>员工资料</div>
				</div><!-- 页面头部 end -->

				<div class="main-content-body">
					<div class="edit-form">
						<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
							<h3 class="edit-form-title">账号信息</h3>
							<el-form-item label="登录账号" prop="account">
								<el-input v-model="ruleForm.account" placeholder="只能包括英文字母、数字，支持 Email"></el-input>
							</el-form-item>
							<el-form-item label="密码" prop="password">
								<el-input v-model="ruleForm.password"></el-input>
							</el-form-item>
							<el-form-item label="身份">
								<el-radio-group v-model="ruleForm.Identity">
									<el-radio :label="1">内勤</el-radio>
									<el-radio :label="2">业务员</el-radio>
									<el-radio :label="3">老板</el-radio>
									<el-radio :label="4">司机</el-radio>
								</el-radio-group>
							</el-form-item>
							<el-form-item label="姓名" prop="name">
								<el-input v-model="ruleForm.name"></el-input>
							</el-form-item>
							<el-form-item label="职位">
								<el-input v-model="ruleForm.position"></el-input>
							</el-form-item>
							<el-form-item label="部门">
								<el-select v-model="ruleForm.department" placeholder="请选择部门">
									<el-option label="产品部" value="shanghai"></el-option>
									<el-option label="设计部" value="beijing"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="备注">
								<el-input type="textarea" v-model="ruleForm.desc" placeholder="填写相关备注信息" :rows="3"></el-input>
							</el-form-item>
							<el-form-item label="手机号" prop="phone">
								<el-input v-model="ruleForm.phone"></el-input>
							</el-form-item>
							<el-form-item label="邮箱">
								<el-input v-model="ruleForm.email"></el-input>
							</el-form-item>
							<el-form-item label="QQ">
								<el-input v-model="ruleForm.contqq"></el-input>
							</el-form-item>

							<h3 class="edit-form-title">权限范围</h3>
							<el-form-item label="数据权限">
								<el-radio-group v-model="ruleForm.authData">
									<el-radio :label="1">全部区域</el-radio>
									<el-radio :label="2">部分区域</el-radio>
									<a href="javascript:;" class="z-customerArea" :class="{show: showChioceArea}" @click="showDailog">+选择客户区域范围</a>
								</el-radio-group>
								<el-popover
								  ref="popoverqsu"
								  placement="bottom-start"
								  width="440"
								  trigger="hover">
								  <p class="z-jiao">数据权限：此账号可以看到那些客户的订单销售数据，资金数据，报表数据；比如：某个业务员人员，只能看到他负责地区的客户订单</p>
								</el-popover>
								<i v-popover:popoverqsu class="el-icon-question"></i>
							</el-form-item>
							<el-form-item label="角色权限" prop="authRole">
								<el-checkbox-group v-model="ruleForm.authRole">
									<el-checkbox label="业务员" name="type"></el-checkbox>
									<el-checkbox label="仓库管理员" name="type"></el-checkbox>
									<el-checkbox label="财务管理员" name="type"></el-checkbox>
									<el-checkbox label="订单管理员" name="type"></el-checkbox>
									<el-checkbox label="系统管理员" name="type"></el-checkbox>
								</el-checkbox-group>
								<div class="z-box-info">
									<p>注意请勾选此账号属于的【角色权限】，对应的【权限明显】即可选中；</p>
									<p>如果您还未设置过【角色权限】，请先 <a href="javascript:;">设置角色</a>，比如：仓库管理员、财务管理员、业务管理员</p>
								</div>
							</el-form-item>
							<el-form-item label="权限明细" class="authinfo-item">
								<div class="band-ipt z-power-list">
									<div class="z-yuan-item" v-for="(item,index) in list" :key="index">
										<span class="z-yuan-tit"><i class="el-icon-check" :class="{on: item.checked}"></i>{{item.title}}</span>
										<div class="z-yuan-content">
											<ol>
												<li v-for="(v,i) in item.subList" :key="i"><i class="el-icon-check" :class="{on: v.checked}"></i>{{v.value}}</li>
											</ol>
										</div>
									</div>
								</div>
							</el-form-item>

							<div class="edit-button z-yuan-butn">
								<el-button type="primary" @click="submitForm('ruleForm')">确定</el-button>
								<el-button>取消</el-button>
							</div>
						</el-form>

					</div>
				</div>	
			</div>
			<!-- 选择区域模态框 -->
			<el-dialog title="选择客户区域范围" :visible.sync="dialogFormVisible">
				<el-form :model="areaform">
					<el-form-item>
						<el-checkbox-group v-model="areaform.areacheckList">
						    <el-checkbox :label="1">默认地区</el-checkbox>
						</el-checkbox-group>
					</el-form-item>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary">确 定</el-button>
					<el-button @click="dialogFormVisible = false">取 消</el-button>
				</div>
			</el-dialog>
	        <!-- 选择区域模态框 end -->
		</div>

		

	</body>
	<script src="js/jquery.min.js"></script>
	<script>
		new Vue({
			el: "#app",
			data: {
				// form 表单数据
				ruleForm: {
					// 账号信息
					account: '',
					password: '',
					Identity: 1,
					name: '',
					position: '',
					department: '',
					desc: '',
					phone: '',
					email: '',
					contqq: '',
					// 权限范围
					authData: 1,
					authRole: []
		        },
		        // form 表单验证规则
		        rules: {
					account: [
						{ required: true, message: '请输入登录账号', trigger: 'blur' },
						{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
					],
					password: [
						{ required: true, message: '请输入密码', trigger: 'blur' }
					],
					name: [
						{ required: true, message: '请输入姓名', trigger: 'blur' }
					],
					phone: [
						{ required: true, message: '请输入手机号', trigger: 'blur' }
					],
					authRole: [
						{ type: 'array', required: true, message: '请至少选择一个角色权限', trigger: 'change' }
					]
		        },

		        // 权限明细
				list: [
					{
						'checked': true,
						'title': '订单',
						'subList': [{'checked': true,'value':'查看订单'},{'checked': true,'value':'代客户下单'},{'checked': false,'value':'审核订单'},{'checked': true,'value':'撤销订单审核通过'},{'checked': true,'value':'修改订单'},
									{'checked': true,'value':'订单核准（发货后仍可修改订单）'},{'checked': true,'value':'查看出库/发货单'},{'checked': false,'value':'确认审核出库/发货'},{'checked': false,'value':'确认审核收货'},{'checked': false,'value':'查看订单付款'}]
					},
					{
						'checked': true,
						'title': '商品',
						'subList': [{'checked': true,'value':'查看全部商品'},{'checked': true,'value':'管理与编辑商品'},{'checked': false,'value':'经营范围屏蔽'},{'checked': true,'value':'管理商品分组'}]
					},
					{
						'checked': true,
						'title': '营销',
						'subList': [{'checked': true,'value':'首页广告位与商品'},{'checked': true,'value':'公告管理'},{'checked': false,'value':'查看促销'},{'checked': true,'value':'新增与编辑促销'},{'checked': true,'value':'订单红包'},{'checked': false,'value':'红包充值'},{'checked': true,'value':'优惠券'},{'checked': true,'value':'微信'}]
					},
					{
						'checked': true,
						'title': '报表',
						'subList': [{'checked': true,'value':'运营分析'},{'checked': true,'value':'商品运营报表'},{'checked': false,'value':'订单报表'},{'checked': true,'value':'地区订单报表'},{'checked': true,'value':'客户订单报表'},{'checked': false,'value':'业务员订单报表'},{'checked': true,'value':'商品销售报表'},{'checked': true,'value':'客户商品报表'},{'checked': true,'value':'资金报表'},{'checked': true,'value':'商品销售毛利统计表'}]
					},
				],

		        dialogFormVisible: false, // 模态框是否显示
		        // 模态框表单
		        areaform: {
		        	areacheckList: [1]  // 数据权限-部分区域选择
		        }
			},
			computed: {
				showChioceArea: function () {
					return this.ruleForm.authData == 2 ? true : false;
				}
			},
			methods: {
				dislogHide: function () {
			      	this.dialogFormVisible = false;
			    },
			    showDailog: function () {
			      	this.dialogFormVisible = true;
			    },
			    submitForm(formName) {
					this.$refs[formName].validate((valid) => {
					  if (valid) {
					    alert('submit!');
					  } else {
					    console.log('error submit!!');
					    return false;
					  }
					});
				},
				resetForm(formName) {
					this.$refs[formName].resetFields();
				}
			}
		});
	</script>
</html>
