<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订货宝 让生意更美好！</title>
	<script src="js/vue221.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/element.css">
	<link rel="stylesheet" href="css/global.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/myelement.css" />
	<!-- 引入组件库 -->
	<script src="js/element.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.nestable.js"></script>
</head>
<body>
	<div style="padding:50px;">
		<div id="format">
			<el-button @click="dialogFormVisible = true">新增多规格</el-button>

			<el-button @click="dialogClassVisible = true">选择商品分类</el-button>

			<!-- 新增部门模态框 -->
			<el-dialog title="新增商品多规格" :visible.sync="dialogFormVisible" @open="open">
				<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm el-input-95">
					<el-form-item label="多规格名称" prop="name">
						<el-input v-model="ruleForm.name"></el-input>
					</el-form-item>
					<el-form-item label="多规格编号" prop="phone">
						<el-input v-model="ruleForm.phone"></el-input>
						<el-popover
						  ref="popoverb"
						  placement="bottom"
						  trigger="hover">
						  <p class="z-jiao">1、请根据商品实际情况自定义多规格编号<br/>2、编号长度为1~8个字符长度<br/>3、不填则系统将进行默认生成</p>
						</el-popover>
						<i v-popover:popoverb class="el-icon-question"></i>
					</el-form-item>
					<el-form-item label="多规格值" class="mb_0">
						<el-popover
						  ref="popoverb2"
						  placement="bottom"
						  trigger="hover">
						  <p class="z-jiao">子规格编号如果没有填写，由系统自动分配，已使用多规格不能删除或者修改编号</p>
						</el-popover>
						<i v-popover:popoverb2 class="el-icon-question"></i>
					</el-form-item>
					<div class="format_table">
						<div class="z-tables">
							<el-table ref="multipleTable" :data="ruleForm.tableData3" style="width: 100%;">
			 					<el-table-column type="index" width="55" label="序号"></el-table-column>

			 					<el-table-column label="子规格名称" min-width="130">
			 						<template slot-scope="scope">
			 							<el-form-item :prop="'tableData3.' + scope.$index + '.name'" :rules="{required: true, message: '域名不能为空', trigger: 'blur'}" :inline-message="true" label-width="0" class="el-form-inline-bottom">
									    	<el-input v-model="scope.row.name" placeholder="最多20个字"></el-input>
									    </el-form-item>
									</template>
			 					</el-table-column>

							    <el-table-column label="子规格编号" min-width="130">
							    	<template slot-scope="scope">
									    <el-input v-model="scope.row.uid"></el-input>
									</template>
							    </el-table-column>
							    
							    <el-table-column label="操作" min-width="60">
									<template slot-scope="scope">
									    <el-button type="text" @click="removeFormat(scope.$index, scope.row)">删除</el-button>
									</template>
							    </el-table-column>
							</el-table>
						</div>
						<el-button type="text" @click="addFormat">继续添加</el-button>
					</div>
				</el-form>
				<div slot="footer" class="dialog-footer">
					<el-button type="primary" @click="submitForm('ruleForm')">保 存</el-button>
					<el-button @click="dialogFormVisible = false">取 消</el-button>
				</div>
			</el-dialog>
	        <!-- 新增部门模态框 end -->

	        <!-- 分类选择模态框 -->
			<el-dialog title="选择商品分类" :visible.sync="dialogClassVisible" @open="open" width='1000px'>
				<!-- 商品分类 -->
				<div class="m-product-select op-select no-operate">
		            <ul class="m-ct">
		                <!-- 一级内容 -->
		                <li class="m-classify sm-classify">
		                    <h5 class="u-classify-name">
		                        一级分类
		                    </h5>
		                    <ul class="m-select-ct">
		                        <li class="u-classify-list" v-bind:class="{ 'f-active': index==0 }" v-for="(item, index) in class1">
		                            <div class="y_name">
		                                {{item.name}}
		                            </div>
		                        </li>
		                    </ul>
		                </li><!-- 一级内容 end -->
		                <!-- 二级内容 -->
		                <li class="m-classify sm-classify">
		                    <h5 class="u-classify-name">
		                        二级分类
		                    </h5>
		                    <ul class="m-select-ct">
		                        <div class="y_empty y_prev_bg"><s></s><p>请选择上级菜单</p></div>
		                    </ul>
		                </li><!-- 二级内容 end -->
		                <!-- 三级内容 -->
		                <li class="m-classify sm-classify">
		                    <h5 class="u-classify-name">
		                        三级分类
		                    </h5>
		                    <ul class="m-select-ct">
		                        <div class="y_empty"><s></s><p>无数据</p></div>
		                    </ul>
		                </li><!-- 三级内容 end -->
		                <!-- 四级内容 -->
		                <li class="m-classify  md-classify">
		                    <h5 class="u-classify-name">
		                        <el-checkbox :indeterminate="isIndeterminate4" v-model="checkAll4" @change="CheckAllChangeClass4">四级分类</el-checkbox>
		                    </h5>
		                    <el-checkbox-group v-model="checkedClass4" @change="CheckedClassChange4">
			                    <ul class="m-select-ct">
			                        <li class="u-classify-list" v-for="(item, index) in class4">
			                            <div class="y_name">
			                                <el-checkbox :label="item" :key="item.id">{{item.name}}</el-checkbox>
			                            </div>
			                        </li>
			                    </ul>
		                   	</el-checkbox-group>
		                </li><!-- 四级内容 end -->
		            </ul>
		        </div><!-- 商品分类 end -->
				<div slot="footer" class="dialog-footer">
					<el-button type="primary">保 存</el-button>
					<el-button @click="dialogClassVisible = false">取 消</el-button>
				</div>
			</el-dialog>
	        <!-- 分类选择模态框 end -->

		</div>
	</div>
	
</body>
	

<script>
	var vm = new Vue({
		el: "#format",
		data: {
			//
			// 多规格新增数据
			//
			dialogFormVisible: false,  // 新增模态框是否显示

	        // 新增部门模态框数据
			ruleForm: {
				name: '',
				phone: '',
				// 多规格值表格数据内容
		        tableData3: [
		        	{
		        		name: '',
						uid: '',
		        	},
		        	{
		        		name: '',
						uid: '',
		        	},
		        ]
	        },
	        // form 表单验证规则
	        rules: {
				name: [
					{ required: true, message: '请输入多规格名称', trigger: 'blur' },
					{ min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
				],
				phone: [
					{ min: 1, max: 8, message: '长度在 1 到 8 个字符', trigger: 'blur' }
				]
	        },

	        //
	        // 分类选择数据
	        //
	        dialogClassVisible: false,  // 商品分类模态框是否显示
	        checkAll4: false,  // 分类是否全部选中
	        isIndeterminate4: false,  // 分类是否部分选中
	        checkedClass4: [],  // 存储分类已选数据
	        class1: [
				{name:'电视机',id:'class1-1'},
				{name:'冰箱洗衣机',id:'class1-2'},
				{name:'空调',id:'class1-3'},
				{name:'厨卫电器',id:'class1-4'}
			],
			class4: [
				{name:'飞利浦',id:'class4-1'},
				{name:'索尼',id:'class4-2'},
				{name:'雅马哈',id:'class4-3'},
				{name:'飞利浦',id:'class4-4'},
				{name:'索尼',id:'class4-5'},
				{name:'雅马哈',id:'class4-6'},
				{name:'飞利浦',id:'class4-7'},
				{name:'索尼',id:'class4-8'},
				{name:'雅马哈',id:'class4-9'}
			]
		},
		methods: {
			// 
			// 多规格新增方法
			//

			// 提交表单
			submitForm(formName) {
				this.$refs[formName].validate((valid) => {
					if (valid) {
						alert('submit!');
					} else {
						console.log('error submit!!');
						return false;
					}
				});
			},

			// 删除多规格值方法
			removeFormat(index, row) {
				if (index !== -1) {
					this.ruleForm.tableData3.splice(index, 1)
				}
		    },
		    // 新增多规格值方法
			addFormat() {
				this.ruleForm.tableData3.push({
					name: '',
					uid: '',
				});
			},
			// 模态框打开回调
			open() {
				var that = this;
				this.$nextTick(function () {
		    		// DOM 更新了
		    		console.log(that.$refs.ruleForm)
			  	})
				
			},

			//
			// 分类选择方法
			//
			// 分类全选操作
			CheckAllChangeClass4(val) {
				this.checkedClass4 = val ? this.class4 : [];
				this.isIndeterminate4 = false;
			},
			// 分类选中状态切换操作
			CheckedClassChange4(value) {
				let checkedCount = value.length;
				this.checkAll4 = checkedCount === this.class4.length;
				this.isIndeterminate4 = checkedCount > 0 && checkedCount < this.class4.length;
			},
		},
		mounted: function () {

		},
		updated: function () {
			
		}
	});
</script>
</html>