<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订货宝 让生意更美好！</title>
	<script src="js/vue221.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/element.css">
	<link rel="stylesheet" href="css/global.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/myelement.css" />
	<!-- 引入组件库 -->
	<script src="js/element.js"></script>
</head>
<body>
	<div id="app">
		<div class="main-content">
			<div class="z-tabs">
		 		<div class="z-tabs_header">
		 			<div class="z-tabs_item is_active"><span>员工资料</span></div>
		 			<div class="z-tabs_item"><span>角色权限</span></div>
		 			<div class="z-tabs_item"><span>部门管理</span></div>
		 			<div class="z-tabs_item"><span>登录日志</span></div>
		 			<div class="z-pop_question">
		  	 			<el-popover
							  ref="popoverq"
							  placement="bottom-start"
							  width="400"
							  trigger="hover">
							  <p class="z-jiao">角色权限：每个角色可以设置不同的后台功能权限，比如：
									业务员角色，仓库管理员角色，财务角色。然后账号关联
									某个角色，就拥有该角色下的所有功能权限。
									<a href="javascript:;">查看更多帮助</a>
							  </p>
							</el-popover>
							
							<i v-popover:popoverq class="el-icon-question"></i>
		  	 		</div>
		 		</div>
		 		
		 		<div class="z-tabs_content">
		 			<div class="content_item active"> <!--员工管理-->
	 				<!--条件筛选-->
	 					<div class="content_item_filter clearfix">
		  	 				<div class="input-select fl">
		  	 					<el-input placeholder="请输入内容" v-model="input4" class="minW40">
								   <el-button slot="append" icon="el-icon-search"></el-button>
								  </el-input>
								  
								  <el-select v-model="valueId" clearable placeholder="身份">
								    <el-option
								      v-for="(item,index) in optionsId"
								      :key="index"
								      :label="item"
								      :value="item">
								    </el-option>
								  </el-select>
								  
								  <el-select v-model="valueState" clearable placeholder="状态" @change="change">
								    <el-option
								      v-for="(item,index) in optionsState"
								      :key="index"
								      :label="item"
								      :value="item">
								    </el-option>
								  </el-select>
		  	 				</div>
		  	 				<div class="filter-btn fr">
		  	 					<el-button type="primary">新增员工账号</el-button>
		  	 				</div>
		 				</div>
		 				
		 				<!--主体表格-->
		 				<div class="z-tables">
			 				<el-table :data="tableData3" style="width: 100%;">
			 					<el-table-column fixed  prop="no" label="" min-width="60"></el-table-column>
			 					
							    <el-table-column fixed  prop="login" label="登录账号" min-width="140"></el-table-column>
							    
							    <el-table-column prop="uid" label="身份" min-width="130"></el-table-column>
							    
							    <el-table-column prop="name" label="姓名" min-width="110"></el-table-column> 
							    
							    <el-table-column prop="job" label="职位" min-width="150"> </el-table-column>
							    
							    <el-table-column prop="address" label="部门" min-width="130"> </el-table-column>
							    
							    <el-table-column prop="tel" label="手机号" min-width="140"> </el-table-column>
							    
							    <el-table-column prop="part" label="角色" min-width="120"> </el-table-column>
							    
							    <el-table-column prop="jion" label="邀请码" min-width="140"> </el-table-column>
							    
							    <el-table-column fixed="right" prop="remarks" label="备注" min-width="110"> </el-table-column>
							    
							    
							</el-table>
							  
			 			</div>
			 			
			 			<!--分页-->
			 			<div class="grid-content">
		  	 				<div class="bg-purple-light">
							    <el-pagination
							    	@size-change="handleSizeChange"
		     						 @current-change="handleCurrentChange"
		     						 :current-page="currentPage4"
							      :page-sizes="[5, 10, 20, 30]"
							      :page-size="5"
							       layout="total, sizes, prev, pager, next"
							      :total="100">
							    </el-pagination>
						  	</div>
		 				</div>
	 				</div>
	 				
	 				<div class="content_item"> <!--角色权限-->
	 					<div class="content_item_filter clearfix">
		  	 				<div class="filter-btn fr">
		  	 					<el-button type="primary">新增权限</el-button>
		  	 				</div>
		 				</div>
		 				<div class="z-tables fixed-table">
		 					<!--<el-table :data="tableData" style="width: 100%"  @current-change="handleCurrentTable">
		 						
		 						<el-table-column fixed prop="no" label="" min-width="60"></el-table-column>
		 						
		    					<el-table-column fixed prop="name" label="名称" min-width="220"></el-table-column>
		    					
		    					<el-table-column prop="limit" label="权限" min-width="480"></el-table-column>
		    					
		    					<el-table-column prop="reget" label="更新时间" min-width="200"></el-table-column>
		    
		    					<el-table-column fixed="right" prop="op" label="操作" min-width="120"></el-table-column>
							</el-table>-->
							
							<div class="normal_table">
								<table border="0" cellspacing="0" cellpadding="0" class="tableClone">
									<thead>
										<tr>
											<th class="th1" min-width="60"></th>
											<th class="th2" min-width="220">名称</th>
											<th class="th3" min-width="480">权限</th>
											<th class="th4" min-width="200">更新时间</th>
											<th class="th5" min-width="120">操作</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, index) in tableData" :key="index">
											<td class="text-c">{{item.no}}</td>
											<td>{{item.name}} <label v-if="item.no == 1">创建者</label></td>
											<td>{{item.limit}}</td>
											<td>{{item.reget}}</td>
											<td class="text-c">
												<div class="z-option" v-if="item.options">
													<a href="edit.html" title="编辑">编辑</a>
													<span> | </span>
													<a href="javascript:;" title="删除">删除</a>
												</div>
												<p v-if="item.super" style="color: #999;">内置</p>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						<div class="left_table" :class="{'shadow': isLeft}">
							
						</div>
						<div class="right_table" :class="{'shadow': isRight}">
							<div class="right_pos">
								
							</div>
						</div>
		 				</div>	
	 				</div>	
	 				
		 		</div>	
		  	 </div>
		</div>
	</div>
	
</body>
	
<script src="js/jquery.min.js"></script>	
<script>
	
	new Vue({
		el: "#app",
		data: {
			input4: '',
		    optionsId: ['普通员工','管理人员'], //select下拉选项
		    optionsState: ['启用','激活'],
		    valueId: '',
		    valueState: '',
		    tableData3: [{
	      		no: '1',
	          	login: 'LYS',
	          	uid: '普通员工 ',
	          	name: '刘雨酥 ',
	          	job: '开发工程师',
	          	address: '基础研发部',
	          	tel: '15802949593',
	         	 zip: 200333,
	          	part:'研发人员',
	          	jion: 'YQM2453',
	          	remarks: '—'
	          
	        	}, {
	        	no: '2',
	          	login: 'LYS',
	          	uid: '管理人员 ',
	          	name: '刘雨酥 ',
	          	job: '开发工程师',
	          	address: '基础研发部',
	          	tel: '15802949593',
	          	zip: 200333,
	          	part:'研发人员',
	          	jion: 'YQM2453',
	          	remarks: '—'
	        }],
	        
	        currentPage4: 4, //当前页码数
	        
	        act: 0, //tab选项
	        
	        isLeft: false, //左右阴影
	        isRight: false,
	        
	        tableData: [{
	      	  no: '1',
	          name: '业务员',
	          limit: '订单、商品、客户、资金、报表',
	          reget: '2017-12-12 12:00:00',
	          options: true,
	          super: false,
	          op: "编辑233"
	        }, {
	        	no: '2',
	          name: '仓库管理员',
	          limit: '客户、资金、报表',
	          reget: '2017-12-12 12:00:00',
	          options: true,
	          super: false,
	          op: "编辑233"
	        }, {
	        	no: '3',
	          name: '超级管理员',
	          limit: '客户',
	          reget: '2017-12-12 12:00:00',
	          options: false,
	          super: true,
	          op: "编辑233"
	        }],  
		},
		methods: {
			change: function (ele) {
		  		console.log(this.valueState);
		  	},
		  	
		  	handleSizeChange: function (val) {
	        	console.log("每页"+val+"条");
		    },
		    
		    handleCurrentChange: function (val) {
		        console.log("当前页: "+ val);
		    },
		    handleCurrentTable: function (val) {
		    	window.location.href = 'edit.html?no='+val.no;
		    }
		},
		mounted: function () {
			var _this = this;
		  	$('.z-tabs_item').click(function () {
		  		$(this).addClass('is_active').siblings().removeClass('is_active');
		  		var inx = $(this).index();
		  		
		  		$('.content_item').eq(inx).addClass('active').siblings().removeClass('active');
		  		
		  		if($('.content_item.active .right_pos table').length > 0) {
	  			var tableH = $('.right_pos').height();
	  			$('.right_table').height(tableH);
	  		}
		  	});
		  	
		  	
		  	//复制
		  	var tabC = $('.tableClone').clone(true);
		  	$('.left_table').append(tabC);
		  	
		  	var tabC1 = $('.tableClone').eq(0).clone(true);
		  	$('.right_pos').append(tabC1);
		  	
		  	//高亮
		  	$('.fixed-table tr').hover(function () {
		  		var index = $(this).index();
		  		var nextInd = index + 1;
		  		$('.normal_table tr').eq(nextInd).addClass('on');
		  		$('.left_table tr').eq(nextInd).addClass('on');
		  		$('.right_pos tr').eq(nextInd).addClass('on');
		  	}, function () {
		  		$('.normal_table tr').removeClass('on');
		  		$('.right_pos tr').removeClass('on');
		  		$('.left_table tr').removeClass('on');
		  	});
		  	
		  	$('.fixed-table thead').hover(function () {
		  		$('.normal_table tr').removeClass('on');
		  		$('.right_pos tr').removeClass('on');
		  		$('.left_table tr').removeClass('on');
		  	});
		  	
		  	
			//表格
            var allW = $('.content_item.active').width();

			var totW = 0;
			$('.normal_table th').each(function (i,v) {
				totW += parseFloat($(v).attr('min-width'));
			});
			//console.log(totW);
			var lRate =( parseFloat($('.th1').attr('min-width')) + parseFloat($('.th2').attr('min-width')) ) / totW;
			var rRate = parseFloat($('.th6').attr('min-width')) / totW;
			
			window.onresize = function () {
				var scollW = $('.content_item.active').width();
				computW(scollW);
			}
			
			var computW = function (allW) {
				if(allW >= totW) {
					totW = allW;
					_this.isRight = false;
				}else {
					var Long = totW - allW;
					_this.isRight = true;
				}
				
				$('.normal_table table').width(totW);
				$('.right_table table').width(totW);
				$('.left_table table').width(totW);
				
				
				var rW = totW * rRate + 2;
			  	$('.right_table').width(rW);
			  	var lW = totW * lRate - 2;
			  	$('.left_table').width(lW);
				
				var sL;
				$('.normal_table').scroll(function (e) {
					sL = Math.ceil(e.target.scrollLeft);
//					console.log(sL +"___"+Long);
					if(sL > 0) {
						_this.isRight = true;
						_this.isLeft = true;
					}
					if(sL == 0) {
						_this.isLeft = false;
					}
					if((sL+2) >= Long) {
						_this.isRight = false;
						_this.isLeft = true;	
					}
				});
			}
			
			computW(allW);
			
		},
	});
</script>
</html>