<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订货宝 让生意更美好！</title>
		<script src="js/vue221.js"></script>
		<script src="js/vue-router231.js"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="css/element.css">
		<link rel="stylesheet" href="kindeditor/themes/default/default.css" th:href="@{/kindeditor/themes/default/default.css}" />
        <link rel="stylesheet" href="kindeditor/themes/myeditor/myeditor.css" th:href="@{/kindeditor/themes/myeditor/myeditor.css}" />
		<link rel="stylesheet" href="css/global.css" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="css/myelement.css" />
		<!-- 引入组件库 -->
		<script src="js/element.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="main-content">
				<!-- 页面头部 -->
				<div class="page-header">
					<h1 class="page-title">新增商品</h1>
					<div class="breadcrumb"><a href="##">首页</a><span>/</span><a href="##">商品管理</a><span>/</span><a href="##">商品列表</a></div>
				</div><!-- 页面头部 end -->

				<!-- 商品tab切换 -->
				<div class="z-tabs">
					<div class="z-tabs_header">
			 			<div class="z-tabs_item router-link-active">
			 				<span class="item_span">基础</span>
			 			</div>
			 			<div class="z-tabs_item">
			 				<span class="item_span">图片与商品详情</span>
			 			</div>
			 			<div class="z-tabs_item">
			 				<span class="item_span">库存预警</span>
			 				<div class="z-pop_question">
				  	 			<el-popover
									  ref="popoverqs"
									  placement="bottom-start"
									  width="440"
									  trigger="hover">
									  <p class="z-jiao">
									  	库存下限：当此商品的库存低于库存下限时，会被醒目地展示出来。<br/>
										库存上限：当此商品的库存高于安全库存时，会被醒目地展示出来。<br/>
										安全库存：当此商品的库存低于安全库存时，会被醒目地展示出来。<br/>
										设置数值大小要求：库存下限《安全库存《库存上限<br/>
										注意：设置0或者不设置，即不启用此功能 <a href="##">查看更多帮助</a>
									  </p>
									</el-popover>
									
									<i v-popover:popoverqs class="el-icon-question"></i>
				  	 		</div>
			 			</div>
			 			<div class="z-tabs_item">
			 				<span class="item_span">关联商品</span>
			 			</div>
			 			<div class="z-tabs_item">
			 				<span class="item_span">经营屏蔽</span>
			 			</div>
			 		</div>
				</div><!-- 商品tab切换 end -->

				<div class="main-content-body no-pd-t tab-content">
					<!-- 商品基础信息 -->
					<div class="tab-pane active" id="productBasic">
						<div class="edit-form title_pt_25">
							<el-form :model="basicForm" :rules="basicRules" ref="basicForm" label-width="120px" class="demo-ruleForm">
								<h3 class="edit-form-title">基础</h3>
								<el-row>
									<el-col :span="12">
										<el-form-item label="商品名称" prop="name">
											<el-input v-model="basicForm.name" placeholder="最多50个字"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="商品编号" prop="uuid">
											<el-input v-model="basicForm.uuid"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="商品分类" prop="class">
											<el-select v-model="basicForm.class">
												<el-option label="默认分类" value="1"></el-option>
												<el-option label="电视" value="2"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="所属仓库" prop="ware">
											<el-select v-model="basicForm.ware">
												<el-option label="默认仓库" value="1"></el-option>
												<el-option label="北京仓库" value="2"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="上下架">
											<el-radio-group v-model="basicForm.salesTate">
												<el-radio :label="1">上架</el-radio>
												<el-radio :label="2">下架</el-radio>
											</el-radio-group>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="排序值" prop="sort">
											<el-input v-model="basicForm.sort"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="商品品牌">
											<el-select v-model="basicForm.brand" placeholder="请选择品牌">
												<el-option label="华为" value="1"></el-option>
												<el-option label="苹果" value="2"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="关键字">
											<el-input v-model="basicForm.key"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="库位号">
											<el-input v-model="basicForm.seatNo"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="12">
										<el-form-item label="供应商">
											<el-select v-model="basicForm.store" placeholder="请选择供应商">
												<el-option label="九牧" value="1"></el-option>
												<el-option label="TCL" value="2"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="24">
										<el-form-item label="商品型号">
											<el-input placeholder="请输入型号规格" v-model="basicForm.spec"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="24">
										<el-form-item label="商品标签">
											<el-checkbox-group v-model="basicForm.label">
												<el-checkbox label="新品" name="type"></el-checkbox>
												<el-checkbox label="推荐" name="type"></el-checkbox>
												<el-checkbox label="热销" name="type"></el-checkbox>
												<el-checkbox label="赠品" name="type"></el-checkbox>
											</el-checkbox-group>
										</el-form-item>
									</el-col>
								</el-row>


								<h3 class="edit-form-title">自定义字段</h3>
								<el-row>
									<el-col :span="8">
										<el-form-item label="扩展字段1">
											<el-input v-model="basicForm.extendStr1"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="扩展字段2">
											<el-input v-model="basicForm.extendStr2"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="扩展字段3">
											<el-input v-model="basicForm.extendStr3"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="扩展字段4">
											<el-input v-model="basicForm.extendStr4"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="扩展字段5">
											<el-input v-model="basicForm.extendStr5"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="扩展字段6">
											<el-input v-model="basicForm.extendStr6"></el-input>
										</el-form-item>
									</el-col>
								</el-row>


								<h3 class="edit-form-title">单位</h3>
								<el-row>
									<el-col :span="8">
										<el-form-item label="小单位">
											<el-select v-model="basicForm.brand" placeholder="请选择单位">
												<el-option label="个" value="1"></el-option>
												<el-option label="件" value="2"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="条形码">
											<el-input v-model="basicForm.extendStr2"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="小单位重量(kg)">
											<el-input v-model="basicForm.extendStr3"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="大单位">
											<el-select v-model="basicForm.brand" placeholder="请选择单位">
												<el-option label="个" value="1"></el-option>
												<el-option label="件" value="2"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="条形码">
											<el-input v-model="basicForm.extendStr5"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="8">
										<el-form-item label="换算关系">
											<el-input v-model="basicForm.extendStr2"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="起订量">
											<el-input placeholder="请输入内容" v-model="basicForm.extendStr3" class="input-with-select">
												<el-select v-model="basicForm.brand" slot="append" style="width:85px">
													<el-option label="小单位" value="1"></el-option>
													<el-option label="大单位" value="2"></el-option>
												</el-select>
											</el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="订货限制">
											<el-radio-group v-model="basicForm.salesTate">
												<el-radio :label="1">正常
													<el-popover
													  ref="popoverqsu2"
													  placement="bottom-start"
													  width="440"
													  trigger="hover">
													  <p class="z-jiao">选择正常，当商品可售库存>0时，客户可以下单订货</p>
													</el-popover>
													<i v-popover:popoverqsu2 class="el-icon-question"></i>
												</el-radio>
												<el-radio :label="2">预售</el-radio>
												<el-radio :label="3">停售</el-radio>
											</el-radio-group>
										</el-form-item>
									</el-col>
								</el-row>


								<h3 class="edit-form-title">
									价格
									<el-popover
									  ref="popoverqsu"
									  placement="bottom-start"
									  width="440"
									  trigger="hover">
									  <p class="z-jiao">对于一个客户，优先执行指定价，其次等级价，最后统一订货价</p>
									</el-popover>
									<i v-popover:popoverqsu class="el-icon-question"></i>
								</h3>
								<el-row>
									<el-col :span="8">
										<el-form-item label="订货价" prop="price1">
											<el-input v-model="basicForm.price1" placeholder="如：30"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="市场价" prop="price2">
											<el-input v-model="basicForm.price2" placeholder="如：40"></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="8">
										<el-form-item label="参考进货价" prop="price3">
											<el-input v-model="basicForm.price3" placeholder="如：20"></el-input>
										</el-form-item>
									</el-col>
								</el-row>

								
								<div style="margin-left: 58px;">
									<div class="popover_hover switch_title">
										<el-switch v-model="basicForm.switch1"></el-switch>
										此商品有多种规格 
										<a href="##" class="fz_c">管理多规格</a>
										<el-popover
										  ref="popoverqsu3"
										  placement="bottom-start"
										  width="440"
										  trigger="hover">
										  <p class="z-jiao">当商品有2种以上的规格的时候（如：颜色：黑、白、黄）请使用此功能  <a href="##">查看更多帮助</a></p>
										</el-popover>
										<i v-popover:popoverqsu3 class="el-icon-question"></i>
									</div>
									<div v-show="!basicForm.switch1">
										<div class="mb_20" style="width: 600px;">
											<div class="clearfix">
												<div class="fl l_30 f_13">
													等级价<span class="f_12 fc_999">（不同客户类型指定价格）</span>
												</div>
												<div class="fr">
													<el-button>自动计算订货价</el-button>
												</div>
											</div>
											<div class="z-tables">
												<el-table :data="basicForm.tableData3">
								 					<el-table-column label="客户类型" min-width="130">
								 						<template slot-scope="scope">
								 							{{scope.row.name}}
								 							<el-tag v-if="scope.$index==0" size="mini">默认</el-tag>
														</template>
								 					</el-table-column>

												    <el-table-column label="等级折扣" min-width="130" prop="percent"></el-table-column>
												    
												    <el-table-column label="订货价" min-width="60">
														<template slot-scope="scope">
														    <el-input v-model="scope.row.price"></el-input>
														</template>
												    </el-table-column>
												</el-table>
											</div>
										</div>
										<div class="clearfix l_30 f_13">
											指定价<span class="f_12 fc_999">（指定某个客户定价）</span>
											<el-button class="ml_10" @click="dialogFormVisible = true">+ 选择客户</el-button>
										</div>
										<div class="z-tables">
											<el-table :data="basicForm.tableData4">
							 					<el-table-column label="客户姓名" prop="name"></el-table-column>

											    <el-table-column label="客户编号" prop="uuid"></el-table-column>

											    <el-table-column label="客户类型" prop="type"></el-table-column>

											    <el-table-column label="客户地区" prop="area"></el-table-column>
											    
											    <el-table-column label="订货价">
													<template slot-scope="scope">
													    <el-input v-model="scope.row.price"></el-input>
													</template>
											    </el-table-column>

											    <el-table-column label="操作">
													<template slot-scope="scope">
														<i class="el-icon-delete cur_pointer"></i>
													</template>
											    </el-table-column>
											</el-table>
										</div>
									</div>
									<div v-show="basicForm.switch1">
										<div class="b_05 mb_20">
											<div class="multi-box">
												<div class="multi-header">
													<div class="fl p_relative">
														<el-select v-model="basicForm.brand" placeholder="请选择多规格" @change="optionchange" data-index="0">
															<el-option label="尺寸" value="1"></el-option>
															<el-option label="颜色" value="2"></el-option>
														</el-select>
														<div class="option-select-box">
															<div class="option-content">
																<div class="option-checkbox clearfix">
																	<div class="option-checkall">
																		<el-checkbox v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
																	</div>
																	<el-checkbox-group v-model="checkedCities">
																		<el-checkbox v-for="city in cities" :label="city" :key="city">{{city}}</el-checkbox>
																	</el-checkbox-group>
																</div>
																<div class="add-option-box">
																	<el-input v-model="addoption" placeholder="输入添加子规格名称，使用空格可一次添加多个"></el-input>
																	<el-button type="primary">新增</el-button>
																</div>
															</div>
															<div class="option-footer">
																<el-button type="primary">确定</el-button>
																<el-button @click='hideoption' data-index="0">取消</el-button>
															</div>
														</div>
													</div>
													<a class="fr f_20" href="##"><i class="el-icon-close"></i></a>
												</div>
												<div class="multi-content">
													<ul class="option-list clearfix">
														<li>S<i class="el-icon-close"></i></li>
														<li>L<i class="el-icon-close"></i></li>
														<li>M<i class="el-icon-close"></i></li>
													</ul>
													<a href="##" class="fz_c add_moreoption" @click='showoption' data-index="0">+添加多规格值</a>
												</div>
											</div>
											<div class="multi-box">
												<div class="multi-header">
													<div class="fl">
														<el-select v-model="basicForm.brand" placeholder="请选择多规格">
															<el-option label="尺寸" value="1"></el-option>
															<el-option label="颜色" value="2"></el-option>
														</el-select>
													</div>
													<a class="fr f_20" href="##"><i class="el-icon-close"></i></a>
												</div>
												<div class="multi-content">
												</div>
											</div>
										</div>

										<div class="switch_title">
											<el-switch v-model="basicForm.switch2"></el-switch>
											多种规格价格不同 
											<a href="##" class="fz_c ml_20" v-show="!basicForm.switch2" @click="dialog2FormVisible = true">+设置所有规格的等级价</a>
											<a href="##" class="fz_c ml_20" v-show="!basicForm.switch2" @click="dialog3FormVisible = true">+设置所有规格的指定价</a>
										</div>
										<div class="z-tables" v-show="!basicForm.switch2">
											<el-table :data="basicForm.tableData6">
												<el-table-column label="序号" type="index"></el-table-column>

							 					<el-table-column label="尺寸" prop="size"></el-table-column>

											    <el-table-column label="颜色" prop="color"></el-table-column>

											    <el-table-column label="规格编号">
											    	<template slot-scope="scope">
													    <el-input v-model="scope.row.spec"></el-input>
													</template>
											    </el-table-column>
											    
											    <el-table-column label="条形码">
													<template slot-scope="scope">
													    <el-input v-model="scope.row.code"></el-input>
													</template>
											    </el-table-column>

											    <el-table-column label="操作">
													<template slot-scope="scope">
														<i class="el-icon-delete cur_pointer"></i>
													</template>
											    </el-table-column>
											</el-table>
										</div>
										<div class="z-tables" v-show="basicForm.switch2">
											<el-table :data="basicForm.tableData6">
												<el-table-column label="序号" type="index"></el-table-column>

							 					<el-table-column label="尺寸" prop="size"></el-table-column>

											    <el-table-column label="颜色" prop="color"></el-table-column>

											    <el-table-column label="规格编号">
											    	<template slot-scope="scope">
													    <el-input v-model="scope.row.spec"></el-input>
													</template>
											    </el-table-column>
											    
											    <el-table-column label="条形码">
													<template slot-scope="scope">
													    <el-input v-model="scope.row.code"></el-input>
													</template>
											    </el-table-column>

											    <el-table-column label="订货价">
													<template slot-scope="scope">
													    <el-input v-model="scope.row.code"></el-input>
													</template>
											    </el-table-column>

											    <el-table-column label="市场价">
													<template slot-scope="scope">
													    <el-input v-model="scope.row.code"></el-input>
													</template>
											    </el-table-column>

											    <el-table-column label="参考订货价">
													<template slot-scope="scope">
													    <el-input v-model="scope.row.code"></el-input>
													</template>
											    </el-table-column>

											    <el-table-column label="等级价" prop="color"></el-table-column>

											    <el-table-column label="指定价" prop="color"></el-table-column>

											    <el-table-column label="操作">
													<template slot-scope="scope">
														<i class="el-icon-delete cur_pointer"></i>
													</template>
											    </el-table-column>
											</el-table>
										</div>
									</div>
								</div>
								

								<div class="edit-button-fixed">
									<div class="edit-button z-yuan-butn">
										<el-button type="primary" @click="submitForm('basicForm')">保存回到列表页</el-button>
										<el-button type="primary" @click="submitForm('basicForm')">保存并继续新增</el-button>
										<el-button>返回</el-button>
									</div>
								</div>
							</el-form>
						</div>

						<!-- 指定价选择客户模态框 -->
						<el-dialog title="选择客户" :visible.sync="dialogFormVisible" class="table-dialog" width="900px">
							<!--条件筛选-->
							<div class="content_item_filter clearfix">
				 				<div class="input-select fl btn-radid_none">
				 					<div class="filter-form filter-form-one clearfix">
					 					<el-input placeholder="名称/手机号/联系人/编号/备注" v-model="basicForm.addpartinput" class="minW40 z_input-holder" ></el-input>

										<el-select v-model="basicForm.valueState" clearable placeholder="客户类型" class="z_select-holder">
											<el-option
											  v-for="(item,index) in basicForm.optionsState"
											  :key="index"
											  :label="item"
											  :value="item">
											</el-option>
										</el-select>

										<el-select v-model="basicForm.valueState" clearable placeholder="归属地区" class="z_select-holder">
											<el-option
											  v-for="(item,index) in basicForm.optionsState"
											  :key="index"
											  :label="item"
											  :value="item">
											</el-option>
										</el-select>

										<el-select v-model="basicForm.valueState" clearable placeholder="账号状态" class="z_select-holder">
											<el-option
											  v-for="(item,index) in basicForm.optionsState"
											  :key="index"
											  :label="item"
											  :value="item">
											</el-option>
										</el-select>
									</div>

									<div class="filter-operate">
										<el-tooltip class="item" content="查询" placement="bottom-start">
									    	<el-button icon="el-icon-search"></el-button>
									    </el-tooltip>
										<el-tooltip class="item" content="清空" placement="bottom-start">
									    	<el-button icon="el-extend-clean"></el-button>
									    </el-tooltip>
								    </div>
									
				 				</div>
							</div>
								
							<!--主体表格-->
							<div class="z-tables">
				 				<el-table :data="basicForm.tableData5" style="width: 100%;">
				 					<el-table-column type="selection" width="55"></el-table-column>
				 					
								    <el-table-column label="客户名称">
								    	<template scope="scope">
									       <span>{{scope.row.name}}</span>
									       <el-tag type="info" size="mini" v-if="!scope.row.active">待激活</el-tag>
								      	</template>
								    </el-table-column>
								    
								    <el-table-column prop="uuid" label="客户编号"></el-table-column>
								    
								    <el-table-column prop="type" label="客户类型"></el-table-column> 
								    
								    <el-table-column prop="area" label="客户地区"></el-table-column>
								    
								</el-table>
				 			</div>
				 			
				 			<!--分页-->
				 			<div class="grid-content">
					 			<div class="bg-purple-light">
								    <el-pagination
				 					  :current-page="1"
								      :page-sizes="[5, 10, 20, 30]"
								      :page-size="5"
								       layout="total, sizes, prev, pager, next"
								      :total="100">
								    </el-pagination>
							  	</div>
							</div>

							<div slot="footer" class="dialog-footer">
								<el-button type="primary">提 交</el-button>
								<el-button @click="dialogFormVisible = false">提交并关闭</el-button>
							</div>
						</el-dialog>
				        <!-- 指定价选择客户模态框 end -->

				        <!-- 设置规格等级价模态框 -->
						<el-dialog title="等级价（不同客户类型定价）" :visible.sync="dialog2FormVisible" class="table-dialog">
							<div class="clearfix">
								<div class="fr">
									<el-button>自动计算订货价</el-button>
								</div>
							</div>
							<div class="z-tables">
								<el-table :data="basicForm.tableData3">
				 					<el-table-column label="客户类型" min-width="130">
				 						<template slot-scope="scope">
				 							{{scope.row.name}}
				 							<el-tag v-if="scope.$index==0" size="mini">默认</el-tag>
										</template>
				 					</el-table-column>

								    <el-table-column label="等级折扣" min-width="130" prop="percent"></el-table-column>
								    
								    <el-table-column label="订货价" min-width="60">
										<template slot-scope="scope">
										    <el-input v-model="scope.row.price"></el-input>
										</template>
								    </el-table-column>
								</el-table>
							</div>
							<div slot="footer" class="dialog-footer">
								<el-button type="primary">确 定</el-button>
								<el-button @click="dialog2FormVisible = false">取 消</el-button>
							</div>
						</el-dialog>
				        <!-- 设置规格等级价模态框 end -->

				        <!-- 设置规格指定价模态框 -->
						<el-dialog title="指定价（指定某个客户定价）" :visible.sync="dialog3FormVisible" class="table-dialog" width="900px">
							<div class="clearfix l_30 f_13">
								请选择客户：
								<el-button class="ml_10" @click="dialogFormVisible = true">+ 选择客户</el-button>
							</div>
							<div class="z-tables">
								<el-table :data="basicForm.tableData4">
				 					<el-table-column label="客户姓名" prop="name"></el-table-column>

								    <el-table-column label="客户编号" prop="uuid"></el-table-column>

								    <el-table-column label="客户类型" prop="type"></el-table-column>

								    <el-table-column label="客户地区" prop="area"></el-table-column>
								    
								    <el-table-column label="订货价">
										<template slot-scope="scope">
										    <el-input v-model="scope.row.price"></el-input>
										</template>
								    </el-table-column>

								    <el-table-column label="操作">
										<template slot-scope="scope">
											<i class="el-icon-delete cur_pointer"></i>
										</template>
								    </el-table-column>
								</el-table>
							</div>
							<div slot="footer" class="dialog-footer">
								<el-button type="primary">确 定</el-button>
								<el-button @click="dialog3FormVisible = false">取 消</el-button>
							</div>
						</el-dialog>
				        <!-- 设置规格指定价模态框 end -->
					</div>
					<!-- 商品基础信息 end -->

					<!-- 图片与商品详情 -->
					<div class="tab-pane" id="productPic">
						<div class="title_pt_25">
							<h3 class="edit-form-title">商品图片<small>（最多可添加24张图片，建议图片尺寸800*800px，大小≤6MB，支持JPG、PNG、JPEG）</small></h3>
							<ol class="clearfix ml_50">
								<li v-for="item in uploadImage.fileList" class="upload-image-box" style="width:150px;height:150px;">
									<div class="upload-image">
										<img :src="item.url">
										<!-- <span class="upload-operate">点击修改</span> -->
										<span class="upload-operate upload-operate-delect" @click.stop="delectImage('uploadImage')">点击删除</span>
									</div>
								</li>
								<li class="upload-image-box" @click="dialogImageVisible = true" style="width:150px;height:150px;">
									<span class="upload-button">
										<i class="el-icon-upload"></i>
										添加图片
									</span>
								</li>
							</ol>
						</div>

						<!-- 上传图片模态框 -->
						<el-dialog title="上传文件" :visible.sync="dialogImageVisible">
							<el-upload
							  ref="upload"
							  action="https://jsonplaceholder.typicode.com/posts/"
							  :show-file-list="false"
							  :on-change="handleChange"
							  :file-list="uploadImage.fileList"
							  :auto-upload="false"
							  :before-upload="beforeAvatarUpload">
							  <el-button size="medium">+&nbsp;点击选择图片</el-button>
							  <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
							</el-upload>
							<div slot="footer" class="dialog-footer">
								<el-button @click="dialogImageVisible = false">取 消</el-button>
							</div>
						</el-dialog>
				        <!-- 上传图片模态框 end -->
					</div>
					<!-- 图片与商品详情 end -->

					<!-- 库存预警 -->
					<div class="tab-pane" id="productStock"></div>
					<!-- 库存预警 end -->

					<!-- 关联商品 -->
					<div class="tab-pane" id="productRelation"></div>
					<!-- 关联商品 end -->

					<!-- 经营屏蔽 -->
					<div class="tab-pane" id="productManage"></div>
					<!-- 经营屏蔽 end -->
				</div>	
			</div>

		</div>

		

	</body>
	<script src="js/jquery.min.js"></script>
	<script charset="utf-8" src="kindeditor/kindeditor-min.js" th:src="@{/kindeditor/kindeditor-min.js}"></script>
    <script charset="utf-8" src="kindeditor/lang/zh-CN.js" th:src="@{/kindeditor/lang/zh-CN.js}"></script>
	<script>
		// let options = {
  //           width: '800px',
  //           height: '300px',
  //           items: [
  //               'formatblock', 'fontname', 'fontsize', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
  //               'strikethrough', 'lineheight', 'image', 'link', 'unlink', 'plainpaste', 'wordpaste', 'insertorderedlist',
  //               'insertunorderedlist', 'table', 'fullscreen'
  //           ],
  //           resizeType: 0,
  //           themeType: 'myeditor',
  //           uploadJson: '',
  //           fileManagerJson: '',
  //       };
  //       KindEditor.ready(function(K) {
  //           window.editor = K.create('#form-editor', options);
  //       });

  		// 商品基础信息数据
		new Vue({
			el: "#productBasic",
			data: {
				dialogFormVisible: false,
				dialog2FormVisible: false,
				dialog3FormVisible: false,
				// form 表单数据
				basicForm: {
					// 基础信息
					name: '',
					uuid: '10011',
					class: '1',
					ware: '1',
					salesTate: 1,
					sort: '500',
					brand: '',
					key: '',
					seatNo: '',
					store: '',
					spec: '',
					label: [],
					// 扩展字段
					extendStr1: '',
					extendStr2: '',
					extendStr3: '',
					extendStr4: '',
					extendStr5: '',
					// 价格
					price1: '',
					price2: '',
					price3: '',
					// 商品是否多规格
					switch1: false,
					switch2: false,
					// 等级价格表
			        tableData3: [
			        	{
			        		name: '默认类型',
							percent: '100%',
							price: ''
			        	},
			        	{
			        		name: '采购',
							percent: '100%',
							price: ''
			        	},
			        ],
			        // 客户指定价格表
			        tableData4: [
			        	{
			        		name: 'aaaa',
							uuid: '1112',
							type: '默认类型',
							area: '默认地区',
							price: '',
			        	},
			        	{
			        		name: 'bbbbb',
							uuid: '21sda',
							type: '默认类型',
							area: '默认地区',
							price: '',
			        	},
			        ],
			        // 选择客户模态框内容
			        addpartinput: '',
			        valueState: '',
			        optionsState: ['全部','默认类型'],
			        tableData5: [
			        	{
			        		name: 'aaaa',
							uuid: '1112',
							type: '默认类型',
							area: '默认地区',
							active: false,
			        	},
			        	{
			        		name: 'bbbbb',
							uuid: '21sda',
							type: '默认类型',
							area: '默认地区',
							active: true,
			        	},
			        ],
			        // 多种规格价格相同表
			        tableData6: [
			        	{
			        		size: 'S',
							color: '红色',
							spec: '',
							code: '',
			        	},
			        	{
			        		size: 'S',
							color: '黄色',
							spec: '',
							code: '',
			        	},
			        ]
		        },
		        // 规格属性数据
		        checkAll: false,
		        checkedCities: [],
		        cities:['S', 'M', 'L', 'XL'],
		        addoption: '',
		        // form 表单验证规则
		        basicRules: {
					name: [
						{ required: true, message: '商品名称不能为空', trigger: 'blur' },
						{ max: 50, message: '长度最多50个字符', trigger: 'blur' }
					],
					uuid: [
						{ required: true, message: '商品编号不能为空', trigger: 'blur' }
					],
					class: [
						{ required: true, message: '商品分类不能为空', trigger: 'change' }
					],
					ware: [
						{ required: true, message: '所属仓库不能为空', trigger: 'change' }
					],
					sort: [
						{ required: true, message: '排序值不能为空', trigger: 'blur' }
					],
					price1: [
						{ required: true, message: '订货价不能为空', trigger: 'blur' }
					],
					price2: [
						{ required: true, message: '市场价不能为空', trigger: 'blur' }
					],
					price3: [
						{ required: true, message: '参考订货价不能为空', trigger: 'blur' }
					],
		        }
			},
			computed: {
				
			},
			methods: {
				// 规格属性全选
				handleCheckAllChange(val) {
					this.checkedCities = val ? cityOptions : [];
					this.isIndeterminate = false;
				},
				// 切换规格属性值
				optionchange(val){
					console.log(val)
					showoption(0);
				},
				// 显示多规格属性
				showoption(e){
					var index = e.currentTarget.dataset.index;
					showoption(index);
				},
				// 隐藏多规格属性
				hideoption(e){
					var index = e.currentTarget.dataset.index;
					hideoption(index);
				},
				// 提交表单
			    submitForm(formName) {
					this.$refs[formName].validate((valid) => {
					  if (valid) {
					  	// 先同步，才能获取到值
                        editor.sync();
                        console.log($('#form-editor').val());

					    alert('submit!');
					  } else {
					    console.log('error submit!!');
					    return false;
					  }
					});
				},
				// 重置表单
				resetForm(formName) {
					this.$refs[formName].resetFields();
				},
				// 删除行数据
				handleDelete(index, row) {
					console.log(index, row);
				}
			}
		});


		new Vue({
			el: "#productPic",
			data: {
				// 上传图片模态框
				dialogImageVisible: false,
				// 上传图片数据
		        uploadImage: {
		        	imageUrl: '',
		        	fileList: []
		        }
			},
			methods: {
				// 图片上传前校验
				beforeAvatarUpload(file) {
					const isJPG = file.type === 'image/jpeg';
					const isLt2M = file.size / 1024 / 1024 < 2;

					if (!isJPG) {
					  this.$message.error('上传头像图片只能是 JPG 格式!');
					}
					if (!isLt2M) {
					  this.$message.error('上传头像图片大小不能超过 2MB!');
					}
					return isJPG && isLt2M;
				},
				// 图片状态变化监听,选择图片后执行的事件
				handleChange(file, fileList) {
					this.uploadImage.fileList = fileList.slice(-1);
					this.uploadImage.imageUrl = URL.createObjectURL(file.raw);
					this.dialogImageVisible = false;
				},
				// 删除图片事件
				delectImage(fileName){
					this[fileName].fileList = [];
					this[fileName].imageUrl = '';
				}
			}
		})

		// 多规格弹出框显示事件
		function showoption(index){
			$(".multi-box:eq("+index+")").find(".option-select-box").slideDown().end().siblings().find(".option-select-box").slideUp();
		}

		// 多规格弹出框隐藏事件
		function hideoption(index){
			$(".multi-box:eq("+index+")").find(".option-select-box").slideUp();
		}

		// 商品新增tab切换
		$(".z-tabs_header .z-tabs_item").click(function(){
			$(this).addClass("router-link-active").siblings().removeClass("router-link-active");
			$(".tab-content .tab-pane").eq($(this).index()).addClass("active").siblings().removeClass("active");
		})
	</script>
</html>
