<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订货宝 让生意更美好！</title>
	<script src="js/vue221.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="css/element.css">
	<link rel="stylesheet" href="css/global.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/myelement.css" />
	<!-- 引入组件库 -->
	<script src="js/element.js"></script>
</head>
<body>
	<div id="app">
		<div class="main-content">
			<!-- 页面头部 -->
			<div class="page-header">
				<h1 class="page-title">角色权限</h1>
				<div class="z-pop_question">
	  	 			<el-popover
					  ref="popoverq"
					  placement="bottom-start"
					  width="400"
					  trigger="hover">
					  <p class="z-jiao">角色权限：每个角色可以设置不同的后台功能权限，比如：
							业务员角色，仓库管理员角色，财务角色。然后账号关联
							某个角色，就拥有该角色下的所有功能权限。
							<a href="javascript:;">查看更多帮助</a>
					  </p>
					</el-popover>
					
					<i v-popover:popoverq class="el-icon-question"></i>
	  	 		</div>
				<div class="breadcrumb">客户<span>/</span>客户管理</div>
			</div><!-- 页面头部 end -->

			<div class="list-content">
		 		
				<div class="content_item_filter clearfix">
  	 				<div class="filter-btn fr">
  	 					<el-button type="primary">新增权限</el-button>
  	 				</div>
 				</div>
 				<div class="z-tables">
 					<el-table :data="tableData" style="width: 100%"  @current-change="handleCurrentTable">
 						
 						<el-table-column fixed prop="no" label="" min-width="60" class-name="z-opt_btn"></el-table-column>
 						
    					<el-table-column fixed label="名称" min-width="220">
    						<template scope="scope">
						       <span>{{scope.row.name}}</span>
						       <label class="z-creater" v-if="scope.row.isCreater">创建者</label>
					      	</template>
    					</el-table-column>
    					
    					<el-table-column prop="limit" label="权限" min-width="480"></el-table-column>
    					
    					<el-table-column prop="reget" label="更新时间" min-width="200"></el-table-column>
    
    					<el-table-column fixed="right" label="操作" min-width="120" class-name='z-opt_btn'>
    						<template scope="scope">
						      	<div v-if="scope.row.options">
							        <el-button type="text" @click="handleEdit(scope.$index, scope.row)" size="small" title="编辑">编辑</el-button>
							        <span class="fz_c optionline"> | </span>
							         <el-button @click.native.prevent="handleDelete(scope.$index, scope.row)" type="text" size="small" title="删除">删除</el-button>
						         </div>
						         <div v-if="scope.row.super1">
						         	<span class="fc_999">内置</span>
						         </div>	
						      </template>
    					</el-table-column>
					</el-table>
 				</div>

		  	</div>
		</div>
	</div>
	
</body>
	
<script src="js/jquery.min.js"></script>

<script>
	new Vue({
		el: "#app",
		data: {
	        tableData: [{
	      	  no: '1',
	          name: '业务员',
	          limit: '订单、商品、客户、资金、报表',
	          reget: '2017-12-12 12:00:00',
	          options: true,
	          super1: false,
	          isCreater: true
	        }, {
	        	no: '2',
	          name: '仓库管理员',
	          limit: '客户、资金、报表',
	          reget: '2017-12-12 12:00:00',
	          options: true,
	          super1: false,
	          isCreater: false
	        }, {
	        	no: '3',
	          name: '超级管理员',
	          limit: '客户',
	          reget: '2017-12-12 12:00:00',
	          options: false,
	          super1: true,
	          isCreater: false
	        }]
		},
		methods: {
		    handleCurrentTable: function (val) {
		    	//window.location.href = 'edit.html?no='+val.no;
		    },
		    //编辑、删除
		    handleEdit: function (index, row) {
		        console.log(index, row);
		    },
	     	handleDelete: function (index, row) {
	       	 	console.log(index, row);
	      	}
		},
		mounted: function () {

		},
		updated: function () {
			
		},
	});
</script>
</html>