<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订货宝 让生意更美好！</title>
    <link rel="stylesheet" href="css/element.css" th:href="@{/css/element.css}">
    <link rel="stylesheet" href="css/global.css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="css/myelement.css" th:href="@{/css/myelement.css}"/>
    <script src="js/vue221.js" th:src="@{/js/vue.js}"></script>
    <script src="js/element.js" th:src="@{/js/element.js}"></script>
</head>
<body>
<div id="app">
    <div class="main-content">
        <!-- 页面头部 -->
        <div class="page-header">
            <h1 class="page-title">新增角色</h1>
            <div class="breadcrumb"><a href="##">首页</a><span>/</span>角色权限</div>
        </div><!-- 页面头部 end -->
        <div class="main-content-body">
            <div class="edit-form">
                <el-form ref="role-form" :model="role" :rules="rules" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="角色名称" prop="name">
                        <el-input v-model="role.name" placeholder="请输入角色名称"></el-input>
                    </el-form-item>
                    <el-form-item label="角色类型" prop="type">
                        <el-select v-model="role.type" placeholder="请选择角色类型">
                            <el-option v-for="type in typeList" :key="type.value" :label="type.name" :value="type.value"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="权限明细" class="auth-form-item">
                        <div v-for="firstMenu in menuTree" :key="firstMenu.uuid" class="edit-itemes">
                            <div class="edit-limit">
                                <el-checkbox v-model="menuList[firstMenu.uuid].isCheck"
                                             :indeterminate="menuList[firstMenu.uuid].isIndeterminate"
                                             @change="value => handleMenuChange(value, firstMenu)">{{firstMenu.name}}
                                </el-checkbox>
                            </div>
                            <div class="o_f">
                                <div class="clearfix" v-for="secondMenu in firstMenu.childrens" :key="secondMenu.uuid">
                                    <template v-if="secondMenu.permissionList != null">
                                        <div class="edit-limit-2-3">
                                            <el-checkbox :label="secondMenu.uuid"
                                                         v-model="menuList[secondMenu.uuid].isCheck"
                                                         :indeterminate="menuList[secondMenu.uuid].isIndeterminate"
                                                         @change="value => handleMenuChange(value, firstMenu)">{{secondMenu.name}}
                                            </el-checkbox>
                                        </div>
                                        <div class="edit-limit-info ml_280">
                                            <el-checkbox v-for="permission, index in secondMenu.permissionList" :key="permission.uuid" :label="permission.uuid">{{permission.name}}</el-checkbox>
                                        </div>
                                    </template>
                                    <template v-else>
                                        <div class="edit-limit-2">
                                            <el-checkbox :label="secondMenu.uuid"
                                                         v-model="menuList[secondMenu.uuid].isCheck"
                                                         :indeterminate="menuList[secondMenu.uuid].isIndeterminate"
                                                         @change="value => handleMenuChange(value, firstMenu)">{{secondMenu.name}}
                                            </el-checkbox>
                                        </div>
                                        <div class="o_f">
                                        	<div class="clearfix" v-for="thirdMenu in secondMenu.childrens" :key="thirdMenu.uuid">
	                                            <div class="edit-limit-2">
	                                                <el-checkbox :label="thirdMenu.uuid"
	                                                             v-model="menuList[thirdMenu.uuid].isCheck"
	                                                             :indeterminate="menuList[thirdMenu.uuid].isIndeterminate"
	                                                             @change="value => handleMenuChange(value, firstMenu)">{{thirdMenu.name}}
	                                                </el-checkbox>
	                                            </div>
	                                            <div v-if="thirdMenu.permissionList != null" class="edit-limit-info">
	                                                <el-checkbox v-for="permission, index in thirdMenu.permissionList" :key="permission.uuid" :label="permission.uuid">{{permission.name}}</el-checkbox>
	                                            </div>
                                            </div>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </el-form-item>
                </el-form>
                <div class="edit-button-fixed">
                    <div class="edit-button">
                        <el-button type="primary" @click="handleSave" v-cloak>保存角色</el-button>
                        <el-button @click="handleCancel" v-cloak>取消</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="json/menuTree.json"></script>

<script th:inline="javascript">
    new Vue({
        el: "#app",
        data: {
            typeList: [{name: "平台角色", value: "1"}, {name: "会员角色", value: "2"}],
            menuTree: menuTree,
            menuList: {},
            role: {
                name: '',
                type: '',
                permission: {}
            },
            rules: {
                name: [
                    {required: true, message: "请输入角色名称", trigger: 'blur'}
                ],
                type: [
                    {required: true, message: "请选择角色类型", trigger: 'blur'}
                ]
            }
        },
        created: function () {
            let self = this;
            convertMenuTreeToList(self.menuTree, self.menuList, self);
        },
        methods: {
            /*handleCheckPermissionChange: function (value, menu) {
                let checkedCount = value.length;
                let menuObj = this.menuList.find((item) => item.uuid === menu.uuid);
                this.role.permission[menu.uuid].permissionList = value;
                this.role.permission[menu.uuid].checkAll = checkedCount === menuObj.permissionList.length && menuObj.permissionList.length > 0;
                this.role.permission[menu.uuid].isIndeterminate = checkedCount > 0 && checkedCount < menuObj.permissionList.length;
            },
            handleCheckAllChange: function (val, menu) {
                let menuObj = this.menuList.find((item) => item.uuid === menu.uuid);
                this.role.permission[menu.uuid].permissionList = val ? menuObj.permissionList : [];
                this.role.permission[menu.uuid].checkAll = val;
                this.role.permission[menu.uuid].isIndeterminate = false;
            },*/
            handleMenuChange(value, menu) {
                let self = this;
                changeParentMenu(menu, self.menuList, value, false, self);
                changeChildrenMenu(menu, self.menuList, value, false, self)
            },
            handleSave: function () {
                /*let self = this;
                let permissionList = [];
                for (let key in self.role.permission) {
                    permissionList = permissionList.concat(self.role.permission[key].permissionList)
                }

                let role = {
                    name: self.role.name,
                    type: self.role.type,
                    permissionList: permissionList
                };

                self.$refs['role-form'].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            url: "/system/permission/role/add",
                            type: "POST",
                            data: JSON.stringify(role),
                            contentType: "application/json;charset=UTF-8",
                            dataType: "json",
                            success: function (data) {
                                if (data && data.returnCode == "1") {
                                    self.$message({
                                        message: '新增角色成功',
                                        type: 'success',
                                        customClass: 'message-center',
                                        onClose: function () {
                                            window.location.href = '/system/permission/role/tolist';
                                        }
                                    });
                                } else {
                                    self.$message({
                                        message: '新增角色失败',
                                        type: 'error',
                                        customClass: 'message-center'
                                    });
                                }
                            }
                        });
                    }
                });*/
            },
            handleCancel: function () {
                window.location.href = "/system/permission/role/tolist";
            }
        }
    });

    function changeParentMenu(menu, menuList, isCheck, isIndeterminate, self) {
        if (menu.parentId === "") {
            self.menuList[menu.uuid].isCheck = isCheck;
            self.menuList[menu.uuid].isIndeterminate = isIndeterminate;
            // self.$set(menuList, menu.uuid, {isCheck: isCheck, isIndeterminate: isIndeterminate, parentId: menu.parentId});
        } else {
            let patentMenu = menuList[menu.parentId];
            changeParentMenu(patentMenu, menuList, isCheck, isIndeterminate, self)
        }
    }

    function changeChildrenMenu(menu, menuList, isCheck, isIndeterminate, self) {
        if (menu.childrens.length === 0) {
            self.$set(menuList, menu.uuid, {isCheck: isCheck, isIndeterminate: isIndeterminate, parentId: menu.parentId});
        } else {
            for (let childMenu of menu.childrens) {
                changeChildrenMenu(childMenu, menuList, isCheck, isIndeterminate, self);
            }
        }
    }

    function convertMenuTreeToList(menuTree, menuList, self) {
        for (let menu of menuTree) {
            self.$set(self.role.permission, menu.uuid, {isCheck: false, isIndeterminate: false, permissionList: []});
            self.$set(menuList, [menu.uuid], {isCheck: false, isIndeterminate: false, parentId: menu.parentId});
            if (menu.childrens.length > 0) {
                convertMenuTreeToList(menu.childrens, menuList, self);
            }
        }
    }
</script>
</html>
