<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订货宝 让生意更美好！</title>
    <link rel="stylesheet" href="css/element.css" th:href="@{/css/element.css}">
    <link rel="stylesheet" href="css/global.css" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" href="css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="css/myelement.css" th:href="@{/css/myelement.css}"/>
    <script src="js/vue221.js" th:src="@{/js/vue.js}"></script>
    <script src="js/element.js" th:src="@{/js/element.js}"></script>
</head>
<body>
<div id="app">
    <div class="main-content">
        <!-- 页面头部 -->
        <div class="page-header">
            <h1 class="page-title">查看页面</h1>
            <div class="breadcrumb"><a href="##">首页</a><span>/</span>入库单</div>
        </div><!-- 页面头部 end -->
        <div class="main-content-body">
            <div class="view-title"><h2 class="title_h">单据信息</h2></div>
            <div class="view-order">
                <el-row :gutter="20">
                  <el-col :span="8"><div class="view-item">入库单号：RK.20171205.0002</div></el-col>
                  <el-col :span="8"><div class="view-item">入库时间：2017-12-05 15:07</div></el-col>
                  <el-col :span="8"><div class="view-item">关联订单：</div></el-col>
                  <el-col :span="8"><div class="view-item">审核状态：已审核</div></el-col>
                  <el-col :span="8"><div class="view-item">入库仓库：默认仓库</div></el-col>
                  <el-col :span="8"><div class="view-item">入库类型：采购入库</div></el-col>
                  <el-col :span="8"><div class="view-item">经办人：13437104</div></el-col>
                  <el-col :span="8"><div class="view-item">供应商：</div></el-col>
                </el-row>
            </div>
            <div class="view-title"><h2 class="title_h">普通字段信息</h2></div>
            <table class="table-view">
                <tr>
                    <th width="15%">商品分类</th>
                    <td width="35%">电视</td>
                    <th width="15%">商品编号</th>
                    <td width="35%">100005</td>
                </tr>
                <tr>
                    <th>小条形码</th>
                    <td></td>
                    <th>大条形码</th>
                    <td></td>
                </tr>
                <tr>
                    <th>所属仓库</th>
                    <td>默认仓库</td>
                    <th>订购限制</th>
                    <td>正常</td>
                </tr>
                <tr>
                    <th>备注</th>
                    <td colspan="3">等级价（不同客户类型指定价格）等级价（不同客户类型指定价格）</td>
                </tr>
            </table>
            <div class="view-title"><h2 class="title_h">操作日志</h2></div>
            <el-table :data="table_log" style="width: 100%;" class="table-log">
                <el-table-column prop="time" label="操作时间" min-width="130"></el-table-column>
                
                <el-table-column prop="name" label="操作人员" min-width="110"></el-table-column> 
                
                <el-table-column prop="type" label="操作类型" min-width="130"> </el-table-column>
                
                <el-table-column prop="log" label="操作日志" min-width="140"> </el-table-column>
            </el-table>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

<script th:inline="javascript">
    new Vue({
        el: "#app",
        data: {
            table_log: [
                {
                    time: "2017-09-20 18:30:23",
                    name: "张三",
                    type: "入库审核",
                    log: "入库审核为已通过"
                },
                {
                    time: "2017-09-20 18:30:23",
                    name: "张三",
                    type: "入库审核",
                    log: "入库审核为已通过"
                }
            ]
        },
    });
</script>
</html>
